/* ==========================================================================
   Text Section
   ========================================================================== */

.text {
  text-align: center;
  &-label {
    color: color(primary);
    margin-bottom: 6px;
  }
  &-title {
    margin-bottom: 12px;
    color: color(black, 1);
    @include font-size(h3);
  }
  &-desc {
    margin-bottom: 0;
  }
}