//-------------------------------------------------------------------------------
  @name: Benefits
  -------------------------------------------------------------------------------//

//benefits
.benefits
  .container
    .benefits__wrapper
      h3.benefits__title
        | !{benefits.title}
      .benefits__img
        ='\n'
        img.benefits__img__el(src='assets/img/dummy/'+benefits.img alt=benefits.title)/
        ='\n'
      .benefits__txt
        ul.benefits__list
          each val in benefits.list
            - data = val;
              li.benefits__item
                | !{val.text}


