//-------------------------------------------------------------------------------
  @name: Documentation
  -------------------------------------------------------------------------------//

//documentation
.documentation#dokumentasi
  .container
    .documentation__head
      h3.documentation__title !{documentation.title}
    .documentation__body
      each val in documentation.list
        - data = val;
        include ../components/documentation-item.pug
='\n'
//end-documentation
