//-------------------------------------------------------------------------------
  @name: Footer
  -------------------------------------------------------------------------------//

//footer
.footer
  .container
    .footer__copyright
      p.footer__copyright__el Copyright RZF Software 2022. All Rights Reserved
='\n'
//end-footer