//-------------------------------------------------------------------------------
  @name: Problem
  -------------------------------------------------------------------------------//

//problem
.problem#feature
  .container
    .problem__head
      h3.problem__title
        | !{problem.title}
    .problem__body.js-slide-question
      each val in problem.list
        - data = val;
        .problem__txt
          h3.problem__txt__el
            | !{val.question}
='\n'
//end-problem
