//-------------------------------------------------------------------------------
  @name: Section Description
  -------------------------------------------------------------------------------//

//section-description
.section-description
  .container
    h3.section-description__title
      | !{sectionDescription.title}
    .section-description__wrapper
      .section-description__img
        ='\n'
        img.section-description__img__el(src='assets/img/dummy/'+sectionDescription.img alt=sectionDescription.title)/
        ='\n'
      .section-description__txt
        ul.section-description__list
          each val in sectionDescription.list
            - data = val;
              li.section-description__item
                | !{val.text}
='\n'
//end-solution
