//-------------------------------------------------------------------------------
  @name: Symptomps
  -------------------------------------------------------------------------------//

//symptomps
.symptomps
  .container
    .symptomps__head
      h5.text.text-label !{symptomps.label}
      h3.text.text-title !{symptomps.title}
      p.text.text-desc !{symptomps.desc}
    .symptomps__body
      .symptomps__img
        ='\n'
        img.symptomps__img__el(src='assets/img/dummy/'+symptomps.img alt=symptomps.title)/
        ='\n'
='\n'
//end-symptomps
