//-------------------------------------------------------------------------------
  @name: Testimonials
  -------------------------------------------------------------------------------//

//testimonials
.testimonials#testimoni
  .container
    .testimonials__head
      h3.testimonials__title
        | !{testimonials.title}
    .testimonials__body.js-slide-testimonials
      each val in testimonials.list
        - data = val;
        include ../components/testimonials-item.pug

='\n'
//end-testimonials