//-------------------------------------------------------------------------------
  @name: Todo
  -------------------------------------------------------------------------------//

//todo
.todo(class=data.modifier !== undefined ? 'todo--' + data.modifier : '')
  .container
    include ../components/todo.pug
='\n'
//end-todo