-
  features = {
    title: 'Features',
    desc: 'Most calendars are designed for teams. Slate is designed for freelancers',
    list: [
      {
        img: 'feature-1.svg',
        title: 'OpenType features Variable fonts',
        desc: 'Slate helps you see how many more days you need to work to reach your financial goal.'
      },
      {
        img: 'feature-2.svg',
        title: 'Design with real data',
        desc: 'Slate helps you see how many more days you need to work to reach your financial goal.'
      },
      {
        img: 'feature-3.svg',
        title: 'Fastest way to take action',
        desc: 'Slate helps you see how many more days you need to work to reach your financial goal.'
      },
    ]
  }
include ../../layouts/features.pug