-
  partners = {
    title: 'Partners',
    desc: 'Most calendars are designed for teams. Slate is designed for freelancers',
    button: {
      to: '#try-for-free',
      text: 'Try For Free'
    },
    list: [
      {
        name: 'Google',
        img: 'google.svg'
      },
      {
        name: 'Amazon',
        img: 'amazon.svg'
      },
      {
        name: 'Microsoft',
        img: 'microsoft.svg'
      },
      {
        name: 'Uber',
        img: 'uber.svg'
      },
      {
        name: 'Dropbox',
        img: 'dropbox.svg'
      },
      {
        name: 'Google',
        img: 'google.svg'
      },
      {
        name: 'Uber',
        img: 'uber.svg'
      },
      {
        name: 'Amazon',
        img: 'amazon.svg'
      },
    ]
  }
include ../../layouts/partners.pug