-
  pricing = {
    title: 'Pricing',
    desc: 'Most calendars are designed for teams. Slate is designed for freelancers',
    item: [
      {
        name: 'Free',
        caption: 'Organize across all apps by hand',
        number: '00',
        period: 'Per Month',
        list: [
          {
            text: 'Pricing Feature'
          },
          {
            text: 'Pricing Feature'
          },
          {
            text: 'Pricing Feature'
          },
          {
            text: 'Pricing Feature'
          },
        ]
      },
      {
        name: 'Standard',
        caption: 'Organize across all apps by hand',
        number: '10',
        period: 'Per Month',
        list: [
          {
            text: 'Pricing Feature'
          },
          {
            text: 'Pricing Feature'
          },
          {
            text: 'Pricing Feature'
          },
          {
            text: 'Pricing Feature'
          },
          {
            text: 'Pricing Feature'
          },
          {
            text: 'Pricing Feature'
          },
        ]
      },
      {
        name: 'Business',
        caption: 'Organize across all apps by hand',
        number: '99',
        period: 'Per Month',
        list: [
          {
            text: 'Pricing Feature'
          },
          {
            text: 'Pricing Feature'
          },
          {
            text: 'Pricing Feature'
          },
          {
            text: 'Pricing Feature'
          },
          {
            text: 'Pricing Feature'
          },
          {
            text: 'Pricing Feature'
          },
          {
            text: 'Pricing Feature'
          },
        ]
      },
    ]
  }
include ../../layouts/pricing.pug