-
  subscribe = {
    label: 'At your fingertips',
    title: 'Lightning fast prototyping ',
    desc: '<b>Subscribe to our Newsletter</b><br />Available exclusivery on Figmaland',
    img: 'subscribe.svg',
    alt: 'Subscribe',
    formList: [
      {
        placeholder: 'Your email',
        type: 'text',
        name: 'email',
        target: 'alertEmail',
        class: 'fi-single-line',
        id: 'email',
        required: 'Email is required!',
        invalid: 'Email invalid!'
      }
    ]
  }
include ../../components/subscribe.pug
