-
  testimonials = {
      title: 'Testimonials',
      button: {
        to: '#more-testimonials',
        text: 'More Testimonials'
      },
      list: [
        {
          name: 'Edward Newgate',
          position: 'Founder Circle',
          client: 'ibm.svg',
          avatarImg: 'testimonials-1.png',
          desc: '"Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely"'
        },
        {
          name: 'Michelle Aurent',
          position: 'Administrator',
          client: 'dropbox.svg',
          avatarImg: 'testimonials-2.jpg',
          desc: '"Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely"'
        },
        {
          name: 'Jonathan Bafert',
          position: 'Human Capital Resource',
          client: 'microsoft.svg',
          avatarImg: 'testimonials-3.jpg',
          desc: '"Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely"'
        },
        {
          name: 'Tom Holland',
          position: 'Marketing Department',
          client: 'google.svg',
          avatarImg: 'testimonials-4.jpg',
          desc: '"Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely"'
        }
      ]
    };

include ../../layouts/testimonials.pug