-
 tryForFree = {
   title: 'Fastest way to organize',
   desc: 'Most calendars are designed for teams. Slate is designed for freelancers',
   img: 'laptop.png',
   button: {
     to: '#try-for-free',
     text: 'Try For Free'
   }
 }
include ../../components/try-for-free.pug