//-------------------------------------------------------------------------------
  @name: Hero Banner
  -------------------------------------------------------------------------------//

-
  data = [
      {
        title: 'Save your data storage here.',
        desc: 'Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others.',
        img: 'bg-1.png',
        btn: {
          to: 'apps.html',
          text: 'Consult today'
        }
      },
      {
        title: 'Save your data storage here.',
        desc: 'Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others.',
        img: 'bg-1.png',
        btn: {
          to: 'apps.html',
          text: 'Consult today'
        }
      }
  ];

include ../../layouts/hero-banner.pug
