//-------------------------------------------------------------------------------
  @name: Testimony
  -------------------------------------------------------------------------------//

-
  dataTestimony = {
    title: 'Testimonials',
    list: [
      {
        name: 'John Fang',
        avatar: 'testimony-1.jpg',
        position: 'wordfaang.com',
        description: 'Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.'
      },
      {
        name: 'Jeny Doe',
        avatar: 'testimony-2.jpg',
        position: 'UX Engineer',
        description: 'Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.'
      },
      {
        name: 'William',
        avatar: 'testimony-3.jpg',
        position: 'John Fang',
        description: 'Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.'
      },
    ]
  }

include ../../layouts/testimony.pug
