
/* ==========================================================================
 Init: Fonts
 ========================================================================== */

 @font-face {
  font-family: 'figma-land';
  src:
    url('../fonts/icon/figma-land.ttf?m8g85i') format('truetype'),
    url('../fonts/icon/figma-land.woff?m8g85i') format('woff'),
    url('../fonts/icon/figma-land.svg?m8g85i#figma-land') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}