//-------------------------------------------------------------------------------
  @name: Testimonials
  -------------------------------------------------------------------------------//

//testimonials-item
.testimonials__item
  .testimonials__customer
    .testimonials__avatar
      ='\n'
      img.testimonials__avatar__img(src='assets/img/dummy/'+data.img alt=data.name)/
      ='\n'
    .testimonials__txt
      h3.testimonials__customer__name !{data.name}
      p.testimonials__customer__position !{data.position}
  .testimonials__desc
    p.testimonials__desc__txt !{data.desc}
='\n'
