/* ==========================================================================
   Init: Button
   ========================================================================== */
   
.btn {
  min-height: 60px;
  border-radius: 32px;
  display: inline-block;
  outline: 0;
  border: none;
  text-decoration: none;
  font-weight: fw(regular);
  @include font-size(h6);
  border: 1px solid transparent;
  text-align: center;
  @include remove-tap-highlight;
  min-width: 148px;
  padding: 16px 32px;
  transition: all .3s ease;
  @include extra-small {
    padding: 8px 0;
    min-height: 20px;
  }
  &--primary {
    background-color: color(tertiary);
    border-color: color(tertiary);
    color: color(white);
    &:hover {
      background-color: transparent;
      border-color: color(white);
      color: color(white);
    }
  }
  &--secondary {
    background-color: color(white);
    &:hover {
      background-color: transparent;
      border-color: color(white);
      color: color(white);
    }
  }
  &--calculate {
    background-color: color(tertiary);
    border-color: color(tertiary);
    color: color(white);
    @include extra-small {
      width: 100%;
    }
    &:hover {
      background-color: transparent;
      border-color: color(tertiary);
      color: color(tertiary);
    }
  }
  &--round {
    background-color: color(tertiary);
    border-color: rgba(43,7,110,.2);
    min-width: initial;
    font-size: 0;
    padding: 14px 16px 14px 24px;
    border-radius: 30px;
  }
  &__txt {
    @include font-size(h5);
    color: color(white);
    vertical-align: middle;
    margin-right: 24px;
  }
  &__icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: color(white);
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/icons/arrow-right-small.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
