/* ==========================================================================
   Init: Button
   ========================================================================== */
   
.btn {
  min-height: 60px;
  border-radius: 32px;
  display: inline-block;
  outline: 0;
  border: none;
  text-decoration: none;
  font-weight: fw(regular);
  @include font-size(h6);
  border: 1px solid transparent;
  text-align: center;
  @include remove-tap-highlight;
  min-width: 148px;
  padding: 16px 32px;
  transition: all .3s ease;
  @include extra-small {
    padding: 8px 0;
    min-height: 20px;
  }
  &--primary {
    background-color: color(tertiary);
    border-color: color(tertiary);
    color: color(white);
    &:hover {
      background-color: transparent;
      border-color: color(white);
      color: color(white);
    }
  }
  &--secondary {
    background-color: color(white);
    &:hover {
      background-color: transparent;
      border-color: color(white);
      color: color(white);
    }
  }
}
