-
  data = {
    title: 'Check out our latest article',
    btn: {
      to: 'blog.html',
      text: 'View all'
    },
    list: [
      {
        img: 'blog-1.jpg',
        title: 'Disease detection, check up in the laboratory',
        desc: 'In this case, the role of the health laboratory is very important to do a disease detection...',
        btn: {
          to: 'blog-detail.html',
          text: 'Read more'
        }
      },
      {
        img: 'blog-2.jpg',
        title: 'Herbal medicines that are safe for consumption',
        desc: 'Herbal medicine is very widely used at this time because of its very good for your health',
        btn: {
          to: 'blog-detail.html',
          text: 'Read more'
        }
      },
      {
        img: 'blog-3.jpg',
        title: 'Natural care for healthy facial skin',
        desc: 'A healthy lifestyle should start from now and also for your skin health. There are some',
        btn: {
          to: 'blog-detail.html',
          text: 'Read more'
        }
      }
    ]
  };

include ../../layouts/blog.pug
