-
  dataDescription = [
    {
      img: 'section-description-1.png',
      title: 'Leading healthcare providers',
      desc: 'Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us, it’s not just work. We take pride in the solutions we deliver',
      btn: {
        to: 'providers.html',
        text: 'Learn more'
      }
    },
    {
      modifier: 'reverse',
      img: 'section-description-2.png',
      title: 'Download our mobile apps',
      desc: 'Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely',
      btn: {
        to: 'providers.html',
        text: 'Download',
        icon: 'icon-arrow-down'
      }
    }
  ];
each val in dataDescription
  - data = val;
  include ../../components/section-description.pug
