-
  data = {
      title: 'Our services',
      desc: 'We provide to you the best choiches for you. Adjust it to your health needs and make sure your undergo treatment with our highly qualified doctors you can consult with us which type of service is suitable for your health',
      list: [
        {
          title: 'Search doctor',
          desc: 'Choose your doctor from thousands of specialist, general, and trusted hospitals',
          img: 'features-1.svg',
        },
        {
          title: 'Online pharmacy',
          desc: 'Buy  your medicines with our mobile application with a simple delivery system',
          img: 'features-2.svg',
        },
        {
          title: 'Consultation',
          desc: 'Free consultation with our trusted doctors and get the best recomendations',
          img: 'features-3.svg',
        },
        {
          title: 'Details info',
          desc: 'Free consultation with our trusted doctors and get the best recomendations',
          img: 'features-4.svg',
        },
        {
          title: 'Emergency care',
          desc: 'You can get 24/7 urgent care for yourself or your children and your lovely family',
          img: 'features-5.svg',
        },
        {
          title: 'Tracking',
          desc: 'Track and save your medical history and health data ',
          img: 'features-6.svg',
        },
      ]
    };

include ../../layouts/service.pug
