//-------------------------------------------------------------------------------
  @name: Floating chat
  -------------------------------------------------------------------------------//

//floating-chat
.floating-chat
  ='\n'
  a.floating-chat__chat(href="#")
    ='\n'
    img.floating-chat__img(src="assets/img/icons/chat.svg" alt="Chat Icon")/
    ='\n'
='\n'
//end-floating-chat
