//-------------------------------------------------------------------------------
  @name: Section Description
  -------------------------------------------------------------------------------//

//section-description
.section-description
  .container
    .section-description__box
      .section-description__img
        ='\n'
        img.section-description__img__el(src='assets/img/dummy/'+data.img, alt=data.title)/
      .section-description__txt
        h2.section-description__title
          | !{data.title}
        p.section-description__desc
          | !{data.desc}
