-
  dataCrypto = {
    title: 'Trade securely and market the high growth cryptocurrencies.',
    list: [
      {
        img: 'bitcoin.png',
        title: 'Bitcoin',
        titleSmall: 'BTC',
        desc: 'Digital currency in which a record of transactions is maintained.',
        button: {
          to: '#start-mining',
          text: 'Start Mining'
        }
      },
      {
        img: 'ethereum.png',
        title: 'Ethereum',
        titleSmall: 'ETH',
        desc: 'Blockchain technology to create and run decentralized digital applications.',
        button: {
          to: '#start-mining',
          text: 'Start Mining'
        }
      },
      {
        img: 'litecoin.png',
        title: 'Litecoin',
        titleSmall: 'LTC',
        desc: 'Cryptocurrency that enables instant payments to anyone in the world.',
        button: {
          to: '#start-mining',
          text: 'Start Mining'
        }
      }
    ]
  }
include ../../layouts/crypto.pug