-
  dataCrypto = {
    title: 'Trade securely and market the high growth cryptocurrencies.'
    list: [
      {
        img: 'bitcoin.svg',
        title: 'ethereum.svg',
        desc: 'Digital currency in which a record of transactions is maintained.',
        button: {
          to: '#start-mining',
          text: 'Start Mining'
        }
      },
      {
        img: 'bitcoin.svg',
        title: 'ethereum.svg',
        desc: 'Blockchain technology to create and run decentralized digital applications.',
        button: {
          to: '#start-mining',
          text: 'Start Mining'
        }
      },
      {
        img: 'litecoin.svg',
        title: 'Litecoin',
        desc: 'Cryptocurrency that enables instant payments to anyone in the world.',
        button: {
          to: '#start-mining',
          text: 'Start Mining'
        }
      }
    ]
  }
include ../../layouts/crypto.pug