-
  dataBanner = {
    list: [
      {
        infoSale: '75%',
        infoDesc: 'For the Black Friday weekend',
        img: 'hero-banner-1.svg',
        title: 'Grow your profit and track your investments',
        desc: 'Use advanced analytical tools. Clear TradingView charts let you track current and historical profit investments.',
        button: {
          show: true,
          text: 'try for FREE',
          to: '#tryforfree'
        }
      },
      {
        infoSale: '75%',
        infoDesc: 'For the Black Friday weekend',
        img: 'hero-banner-2.svg',
        title: 'Crappo makes everything easy',
        desc: 'Use advanced analytical tools. Clear TradingView charts let you track current and historical profit investments.',
        button: {
          show: true,
          text: 'try for FREE',
          to: '#tryforfree'
        }
      },
      {
        infoSale: '75%',
        infoDesc: 'For the Black Friday weekend',
        img: 'hero-banner-3.svg',
        title: 'Crappo makes everything easy',
        desc: 'Experience the next generation cryptocurrency platform. No financial borders, extra fees, and fake reviews.',
        button: {
          show: true,
          text: 'try for FREE',
          to: '#tryforfree'
        }
      },
    ]
  }
include ../../layouts/hero-banner.pug