-
  dataNumber = {
    list: [
      {
        iconClass: 'chart',
        title: '$30B',
        desc: 'Digital Currency Exchanged'
      },
      {
        iconClass: 'user',
        title: '10M+',
        desc: 'Trusted Wallets Investor'
      },
      {
        iconClass: 'earth',
        title: '195',
        desc: 'Countries Supported'
      }
    ]
  }
include ../../layouts/number.pug