/* ==========================================================================
   Layouts Hero Banner
   ========================================================================== */

.hero-banner {
  $hb: &;
  position: relative;
  @include clearfix;
  overflow: hidden;
  padding: 24px 0 104px;
  &__img {
    opacity: 0;
    transform: translateX(-32px);
    transition: all 1s ease 0s;
  }

  &__info,
  &__title,
  &__desc,
  &__btn {
    opacity: 0;
    transform: translateX(32px);
    transition: all .5s ease 0s;
  }

  &--single,
  .owl-item.active {
    #{$hb} {
      &__img {
        opacity: 1;
        transform: none;
        transition: opacity .5 ease, transform .5s ease;
        transition-delay: .2s;
      }

      &__info,
      &__title,
      &__desc,
      &__btn {
        opacity: 1;
        transform: none;
        transition: all .5s ease;
      }

      &__info {
        transition-delay: .5s;
      }
      &__title {
        transition-delay: .5s;
      }
      &__desc {
        transition-delay: .5s;
      }
      &__btn {
        transition-delay: .5s;
      }
    }
  }
}
