/* ==========================================================================
   Layouts Why Crappo
   ========================================================================== */

.why-crappo {
  padding: 88px 0 80px;
  position: relative;
  @include large {
    padding: 72px 0 64px;
  }
  @include medium {
    padding: 54px 0 48px;
  }
  @include small {
    padding: 40px 0 32px;
  }
  @include extra-small {
    padding: 24px 0 16px;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/bg/u.png);
    -moz-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    width: 240px;
    height: 240px;
    z-index: 2;
    bottom: -64px;
    right: 0;
    @include large {
      width: 180px;
      height: 180px;
    }
    @include extra-small {
      width: 140px;
      height: 140px;
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/bg/d.png);
    -moz-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    width: 260px;
    height: 260px;
    z-index: 2;
    top: -80px;
    right: 0;
    @include large {
      width: 180px;
      height: 180px;
    }
  }
  &__wrapper {
    @include clearfix;
  }
  &__img {
    float: left;
    width: 60%;
    padding-right: 120px;
    @include medium {
      padding-right: 0;
      width: 100%;
      display: block;
      margin-bottom: 16px;
    }
    &__el {
      display: block;
      width: 100%;
    }
  }
  &__txt {
    float: right;
    width: 40%;
    display: table;
    min-height: 473px;
    @include medium {
      width: 100%;
      min-height: initial;
    }
    &__wrapper {
      display: table-cell;
      vertical-align: middle;
      @include medium {
        vertical-align: top;
      }
    }
  }
  &__title {
    margin-bottom: 24px;
    @include font-size(h2);
    font-weight: fw(bold);
    color: color(white);
    @include medium {
      margin-bottom: 16px;
    }
    @include small {
      margin-bottom: 8px;
    }
    @include extra-small {
      @include font-size(h4);
    }
  }
  &__desc {
    @include font-size(h6);
    font-weight: fw(regular);
    margin-bottom: 32px;
    color: color(white);
  }
}