//-------------------------------------------------------------------------------
  @name: Crypto
  -------------------------------------------------------------------------------//

//crypto
.crypto
  .container
    .crypto__wrapper
      h3.crypto__title
        | !{dataCrypto.title}
      .crypto__list
        each val in dataCrypto.list
          - data = val;
          include ../components/crypto.pug
='\n'
//end-crypto