//-------------------------------------------------------------------------------
  @name: Crypto
  -------------------------------------------------------------------------------//

//crypto
.crypto
  .container
    .crypto__wrapper
      .crypto__head
        h3.crypto__title
          | !{dataCrypto.title}
      .crypto__body
        each val in dataCrypto.list
          - data = val;
          include ../components/crypto.pug
='\n'
//end-crypto