//-------------------------------------------------------------------------------
  @name: Crypto
  -------------------------------------------------------------------------------//

//crypto


='\n'
//end-crypto