//-------------------------------------------------------------------------------
  @name: Grow Profit
  -------------------------------------------------------------------------------//

//grow-profit
.grow-profit
  .container
    .grow-profit__wrapper
      .grow-profit__img
        ='\n'
        img.grow-profit__img__el(src='assets/img/dummy/grow-table.svg' alt='Grow Table')/
        ='\n'
      .grow-profit__txt
        .grow-profit__txt__wrapper
          h3.grow-profit__title Grow your profit and track your investments
          p.grow-profit__desc Use advanced analytical tools. Clear TradingView charts let you track current and historical profit investments.
          .grow-profit__btn
            ='\n'
            a.btn.btn--primary(href='#learnMore') Learn More
            ='\n'

='\n'
//end-grow-profit