//-------------------------------------------------------------------------------
  @name: Statistics
  -------------------------------------------------------------------------------//

//statistics
.statistics#contact
  .container
    .statistics__wrapper
      .statistics__img
        ='\n'
        img.statistics__img__el(src='assets/img/dummy/statistic-graph.svg' alt='Statistics')/
        ='\n'
      .statistics__txt
        h3.statistics__title Detailed Statistics
        p.statistics__desc View all mining related information in realtime, at any point at any location and decide which polls you want to mine in.
        .statistics__btn
          ='\n'
          a.btn.btn--primary(href='#learnMore') Learn More
          ='\n'
='\n'
//end-statistics