//-------------------------------------------------------------------------------
  @name: Documentation Item
  -------------------------------------------------------------------------------//
  
//documentation-item
.documentation__card
  .documentation__img
    ='\n'
    a.js-popup-image(href='assets/img/dummy/'+val.img alt=val.title)
      ='\n'
      img.documentation__img__el(src='assets/img/dummy/'+val.img alt=documentation.title)/
      ='\n'
//end-documentation-item
