//-------------------------------------------------------------------------------
  @name: Excellence Item
  -------------------------------------------------------------------------------//

//excellence-item
.excellence__item
  .excellence__box
    .excellence__number
      p.excellence__number__el
        | !{val.number}
    .excellence__txt
      h3.excellence__title
        | !{val.title}
      p.excellence__desc
        | !{val.desc}

='\n'
//end-excellence-item
