//-------------------------------------------------------------------------------
  @name: Help
  -------------------------------------------------------------------------------//

//help-form
.help#help
  .container
    .help__head
      h3.help__title
        | !{help.title}
    .help__form
      form(action='#' method='GET')
        each val in help.helpForm
          - data = val;
          include ../components/input-form.pug
        .help__form__btn
          ='\n'
          button.btn.btn--primary.btn--help.js-alert-subscribe.js-subscribe(type='submit') Send
          ='\n'
='\n'
//end-help-form
