//-------------------------------------------------------------------------------
  @name: Hero Banner Item
  -------------------------------------------------------------------------------//

//hero-banner-item
.hero-banner__img
  ='\n'
  img.hero-banner__img__el(src="assets/img/dummy/"+val.img alt=val.alt)/
  ='\n'