//-------------------------------------------------------------------------------
  @name: Presenting Item
  -------------------------------------------------------------------------------//

//presenting-item
.presenting__item
  .presenting__box
    .presenting__img
      ='\n'
      a.js-popup-image(href='assets/img/dummy/'+val.img alt=val.title)
        ='\n'
        img.presenting__img__el(src='assets/img/dummy/'+val.img alt=presenting.title)/
        ='\n'
    .presenting__txt
      h3.presenting__ttl
        | !{val.text}