//-------------------------------------------------------------------------------
  @name: Text Section
  -------------------------------------------------------------------------------//
//text-section


='\n'
//end-text-section