//-------------------------------------------------------------------------------
  @name: Todo
  -------------------------------------------------------------------------------//

//todo
.todo__img
  ='\n'
  img.todo__img__el(src='assets/img/dummy/'+val.img alt=val.title)
  ='\n'
.todo__txt
  .todo__txt__align
    .todo__txt__number
      ='\n'
      span.todo__txt__number__el
        | !{val.number}
      ='\n'
    .todo__txt__detail
      h3.todo__txt__title
        | !{val.title}
      p.todo__txt__desc
        | !{val.desc}
='\n'
//end-todo