/* ==========================================================================
   Layouts Header
========================================================================== */

.header {
  $h: &;
  position: fixed;
  padding: 48px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: zi(header);
  background-color: transparent;
  transition: all .3s ease;
  @include large {
    padding: 32px 0;
  }
  @include medium {
    padding: 16px 0;
  }
  @include small {
    padding: 12px 0;
  }
  .scroll-down & {
    padding: 24px 0;
    transform: translateY(-100%);
    transition: all .8s ease;
    @include medium {
      padding: 16px 0;
    }
  }
  .header-on-scroll & {
    @include shadow(10);
    padding: 16px 0;
    background-color: color(white);
    @include medium {
      padding: 16px 0;
    }
    @include small {
      padding: 12px 0;
    }
  }
  &__logo {
    float: left;
    display: block;
    @include remove-tap-highlight;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    @include medium {
      position: relative;
      margin: 8px 0;
      z-index: 9;
      left: 44px;
      top: 16px;
    }
    @include small {
      margin: 8px 0;
    }
    &__img {
      display: block;
      width: auto;
      height: 60px;
      transition: all .3s ease;
      @include medium {
        height: 40px;
      }
    }
  }
  &__nav {
    position: relative;
    @include clearfix;
    @include medium {
      margin-right: -12px;
      &::before {
        content: '';
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        z-index: 6;
        background-color: color(white);
        transition: all .5s ease .65s;
        .show-menu & {
          opacity: 1;
          transition-delay: .1s;
        }
      }
      &::after {
        content: '';
        position: fixed;
        top: 16px;
        right: 12px;
        z-index: 5;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        transform: scale(0);
        background-position: center bottom;
        // background-image: linear-gradient(to bottom, color(blue, 2) 60%, color(blue, 3));
        background-color: purple;
        transition: all .6s ease .4s;
        @include small {
          top: 12px;
        }
        .show-menu & {
          transform: scale(65);
          transition: all .75s ease 0s;
          @include extra-small {
            transform: scale(50);
          }
        }
      }
    }
    @include small {
      &::before {
        height: 72px;
      }
    }
    &__menu {
      float: left;
      list-style: none;
      padding: 16px 0;
      margin: 0;
      @include medium {
        visibility: hidden;
        opacity: 0;
        float: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 8;
        padding: 112px 24px 48px;
        @include scroll('y', 'touch', 'show');
        width: 100%;
        transition: all .4s ease .5s;
        .show-menu & {
          visibility: visible;
          opacity: 1;
          transition-delay: 0s;
        }
      }
      @include small {
        padding-top: 104px;
      }
    }

    &__item {
      float: left;
      margin-right: 32px;
      @include font-size(18);
      font-weight: fw(regular);
      &:last-child {
        margin-right: 0;
      }
      @include medium {
        float: none;
        margin-right: 0;
        margin-bottom: 16px;
        opacity: 0;
        @include font-size(24);
        transform: translateY(16px);
        transition: all .4s ease;
        @for $i from 1 through 5 {
          $d: 400;
          &:nth-child(#{$i}) {
            transition-delay: ($d - ($i * 80) + ms);
          }
        }
        .show-menu & {
          transform: none;
          opacity: 1;
          @for $i from 1 through 5 {
            $d: 250;
            &:nth-child(#{$i}) {
              transition-delay: ($d + ($i * 80) + ms);
            }
          }
        }
      }
      @include small {
        @include font-size(20);
        margin-bottom: 8px;
      }
    }

    &__link {
      text-decoration: none;
      display: block;
      color: color(white);
      @include remove-tap-highlight;
      transition: all .3s ease;
      &:hover {
        color: color(blue, 1);
      }
      .header-on-scroll & {
        color: color(black);
        &:hover {
          color: color(blue, 1);
        }
      }
      @include medium {
        position: relative;
        display: block;
        opacity: 1;
        color: color(white);
        width: 100%;
        height: 100%;
        padding: 8px 0;
        transition: all .3s ease;
      }

      &--active {
        opacity: 1;
        font-weight: fw(semi-bold);
        @include medium {
          color: color(white);
          padding-left: 40px;
          &::before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 24px;
            height: 2px;
            border-radius: 4px;
            background-color: color(white);
          }
        }
      }
    }
  }
  &__sosmed {
    position: absolute;
    right: 32px;
    top: 20%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    @include medium {
      left: 24px;
      bottom: 0px;
      transform: none;
      top: 440px;
      height: 32px;
      width: 100%;
    }
    @include small {
      top: 400px;
    }
    &__item {
      display: inline-block;
      margin-right: 24px;
      @include medium {
        visibility: hidden;
        opacity: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      transform: translateY(16px);
      transition: all .4s ease;
      @for $i from 1 through 5 {
        $d: 400;
        &:nth-child(#{$i}) {
          transition-delay: ($d - ($i * 80) + ms);
        }
      }
      .show-menu & {
        transform: none;
        opacity: 1;
        visibility: visible;
        @for $i from 1 through 5 {
          $d: 250;
          &:nth-child(#{$i}) {
            transition-delay: ($d + ($i * 80) + ms);
          }
        }
      }
    }
    &__link {
      width: 40px;
      height: 40px;
      &__el {
        height: 24px;
        width: 24px;
        background-color: color(black);
        transition: all .3s ease;
        .header-on-scroll & {
          color: color(black);
        }
        &:hover {
          transform: translateY(-4px);
        }
      }
    }
  }

  .burger-menu {
    display: none;
    @include medium {
      display: block;
      float: right;
      &__bar {
        .show-menu & {
          &:nth-child(1) {
            transform: rotate(135deg) translate(5px, -5px);
            transition-delay: .1s;
          }
          &:nth-child(2) {
            transform: scale(0);
            opacity: 0;
            transition-delay: 0s;
          }
          &:nth-child(3) {
            transform: rotate(-135deg) translate(6px, 6px);
            transition-delay: .3s;
          }
        }
      }
    }
  }
}