//-------------------------------------------------------------------------------
  @name: Subscribe
  -------------------------------------------------------------------------------//

//subscribe
.subscribe#login
  .container
    .subscribe__box
      .subscribe__txt
        h3.subscribe__title
          | !{dataSubscribe.title}
        p.subscribe__desc
          | !{dataSubscribe.desc}
      form.subscribe__form(action='#' method='post')
        .subscribe__form__row
          each val in dataSubscribe.form
            - data = val;
            include ../components/input-form.pug
              ='\n'
        .subscribe__form__btn
          button.btn.btn--subscribe.js-alert-subscribe.js-subscribe(type='submit') Subscribe
          ='\n'
='\n'
//end-subscribe