//-------------------------------------------------------------------------------
  @name: Why Crappo
  -------------------------------------------------------------------------------//

//why-crappo


='\n'
//end-why-crappo