//-------------------------------------------------------------------------------
  @name: Popup
  -------------------------------------------------------------------------------//

//popup
.popup
  .popup__content
    ='\n'
    button.popup__close.js-hide-popup
    ='\n'
    .popup__box
      .popup__body.js-result-popup
//end-popup