/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  before-solution-bg: -1,
  before-bg: 0,
);
