extends ../templates/default.pug

//- Head
block siteHeader
  -
    siteTitle = 'Home';

//- Body
block siteContent
  //- //- Hero Banner
  //- include ../layouts/hero-banner.pug
  //- //- Number
  include ../layouts/number.pug
  //- //- Why Crappo
  //- include ../layouts/why-crappo.pug
  //- //- Calculator
  //- include ../layouts/calculator.pug
  //- //- Crypto
  //- include ../layouts/header.pug
  //- //- Market
  include ../layouts/market.pug
  //- //- Header
  //- include ../layouts/statistics.pug
  //- //- Grow Profit
  //- include ../layouts/grow-profit.pug
  //- //- Subscribe
  //- include ../layouts/subscribe.pug
