extends ../templates/default.pug

//- Head
block siteHeader
  -
    navActive = "why-alivio";
    siteTitle = 'Why Alivio';

//- Body
block siteContent

  //- Hero Banner
  include home/hero-banner.pug

  //- Section Description
  include home/section-description.pug

  //- Expertise
  //- include home/expertise.pug

  //- //- Our Client
  //- include home/client.pug

  //- //- Portofolio
  //- include home/portofolio.pug

  //- Contact Us
  include home/contact-us.pug
