extends ../templates/default.pug

//- Head
block siteHeader
  -
    navActive = "why-alivio";
    siteTitle = 'Why Alivio';

//- Body
block siteContent

  //- Hero Banner
  include home/hero-banner.pug

  //- Presenting
  include home/presenting.pug
