/* ==========================================================================
   Mixin: Shadow
   ========================================================================== */

@mixin shadow($size) {
  @if $size == 50 {
    box-shadow: $shadow-50;
  } @else {
    box-shadow: $shadow-10;
  }
}
