/* ==========================================================================
   Variable: Colors
   ========================================================================== */

// colors
$colors: (
  blue: (
    1: #458ff6,
    2: #5a98f2,
    3: #67c3f3
  ),
  green: '#09af55',
  black (
      1: #000,
      2: #0b0b0d
  )
  black-thin: #444,
  primary-gradient: linear-gradient(99.74deg, #06dbac 5.23%, #bd00ff 92.7%),
  grey: (
      1: '#7d7987',
      2: #a3a3a3,
    ),
  white: #fff,
  purple: #1f1534
);
