/* ==========================================================================
   Variable: Shadow
   ========================================================================== */

$shadow-10: 0px 4px 10px rgba(0, 0, 0, 0.08);
$shadow-50: 10px 40px 50px rgba(229, 233, 246, 0.4);
