/* ==========================================================================
   Components Section Description
   ========================================================================== */

.sd-section {
  $sd: &;
  position: relative;
  padding: 320px 0;
  @include large {
    padding: 96px 0;
  }
  @include medium {
    padding: 72px 0;
  }
  @include small {
    padding: 48px 0;
  }
  &__wrapper {
    @include clearfix;
  }
  &__img {
    float: right;
    width: 992px;
    position: relative;
    padding-bottom: 20%;
    &__el {
      height: 448px;
      position: absolute;
      top: -200px;
      right: 0;
      z-index: -1;
      width: 100%;
      display: block;
    }
  }
  &__txt {
    float: left;
    color: color(white);
    max-width: 522px;
    position: absolute;
    bottom: 56px;
  }
  &__title {
    margin-bottom: 24px;
    font-size: 48px;
  }
  &__desc {
    max-width: 472px;
    margin-bottom: 48px;
    color: color(grey, 4);
  }
}
