//-------------------------------------------------------------------------------
  @name: Testimonials
  -------------------------------------------------------------------------------//

// Testimonials
.testimonials
  .container
    .testimonials__box
      .testimonials__head
        h3.text-title.text-title--white !{data.title}
      .testimonials__body.js-testimonials
        each val in data.list
          -
            data = val;
          include ../components/testimonials-item.pug
='\n'
