extends ../templates/default.pug

//- Head
block siteHeader
  -
    siteTitle = 'Home';
    classActive = 'beranda';

//- Body
block siteContent

  //- Hero Banner
  include home/hero-banner.pug
  
  //- Section Description
  include home/section-description.pug

  //- Contagion
  include home/contagion.pug
  
  //- Excellence
  //- include home/excellence.pug

  //- Sale
  //- include home/sale.pug

  //- Benefits
  //- include home/benefits.pug

  //- Presenting
  //- include home/presenting.pug

  //- Testimonials
  //- include home/testimonials.pug

  //- Documentation
  //- include home/documentation.pug
