extends ../templates/default.pug

//- Head
block siteHeader
  -
    siteTitle = 'Overview';
    classActive = 'overview';

//- Body
block siteContent

  //- Hero Banner
  include home/hero-banner.pug
  
  //- Section Description
  include home/section-description.pug

  //- Contagion
  include home/contagion.pug
  
  //- Symptomps
  include home/symptomps.pug

  //- Live Reports
  include home/live-reports.pug
  
  //- Todo
  include home/todo.pug

  //- Help
  include home/help.pug