/* ==========================================================================
   Components: Features Item
  ========================================================================== */

.features {
  &__card {
    padding: 24px;
    text-align: center;
    min-height: 260px;
  }
  &__img {
    margin-bottom: 20px;
    &__el {
      margin: 0 auto;
      display: block;
    }
  }
  &__ttl {
    margin-bottom: 16px;
    font-weight: fw(bold);
    @include font-size(20);
  }
  &__dsc {
    margin-bottom: 0;
    @include font-size(16);
  }
}