/* ==========================================================================
Components: Partners Item
========================================================================== */

.partners {
  &__box {
    padding: 24px;
    min-height: 180px;
    @include small {
      min-height: 160px;
    }
  }
  &__name {
    @include font-size(16);
    margin-bottom: 16px;
    @include small {
      margin-bottom: 8px;
    }
  }
  &__img {
    &__el {
      display: block;
      margin: 0 auto;
    }
  }
}