/* ==========================================================================
Components: Partners Item
========================================================================== */

.partners {
  $p: &;
  &__box {
    padding: 24px;
    min-height: 180px;
    &:hover {
      #{$p}__img__el {
        transform: scale(1.06);
      }
    }
    @include small {
      min-height: 160px;
    }
  }
  &__name {
    @include font-size(16);
    margin-bottom: 16px;
    @include small {
      margin-bottom: 8px;
    }
  }
  &__img {
    &__el {
      display: block;
      margin: 0 auto;
      transition: all .3s ease;
    }
  }
}