/* ==========================================================================
  Components Testimonials
  ========================================================================== */

.testimonials {
  &__item {
    padding: 24px;
    @include medium {
      padding: 12px;
    }
  }
  &__client {
    margin-bottom: 48px;
    @include medium {
      margin-bottom: 24px;
    }
    &__img {
      height: 60px;
      display: block;
      object-fit: contain;
      object-position: center center;
      opacity: 0;
      transform: translateY(24px);
      transition: all 1.1s ease 0s;
      transition-delay: all 1.1s ease 0s;
    }
  }
  &__customer {
    &__name {
      margin-bottom: 16px;
      opacity: 0;
      transform: translateY(24px);
      transition: all 1.1s ease 0s;
      transition-delay: all 1.1s ease 0s;
    }
    &__position {
      margin-bottom: 0;
      opacity: 0;
      transform: translateY(24px);
      transition: all 1.1s ease 0s;
      transition-delay: all 1.1s ease 0s;
    }
  }
  &__caption {
    margin-bottom: 48px;
    &__el {
      color: color(grey, 3);
      margin-bottom: 0;
      opacity: 0;
      transform: translateY(24px);
      transition: all 1.1s ease 0s;
      transition-delay: all 1.1s ease 0s;
    }
  }
  &__person {
    font-size: 0;
    text-align: center;
  }
  &__img {
    display: inline-block;
    vertical-align: middle;
    &__el {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      width: 50px;
      height: 50px;
      opacity: 0;
      transform: translateY(24px);
      transition: all 1.1s ease 0s;
      transition-delay: all 1.1s ease 0s;
    }
  }
  &__txt {
    padding-left: 16px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    &__name {
      margin-bottom: 0;
      @include font-size(16);
      font-weight: fw(semi-bold);
      opacity: 0;
      transform: translateY(24px);
      transition: all 1.1s ease 0s;
      transition-delay: all 1.1s ease 0s;
    }
    &__position {
      @include font-size(14);
      font-weight: fw(regular);
      margin-bottom: 0;
      color: color(grey, 3);
      opacity: 0;
      transform: translateY(24px);
      transition: all 1.1s ease 0s;
      transition-delay: all 1.1s ease 0s;
    }
  }
}