/* ==========================================================================
   Components Hero Banner
   ========================================================================== */

.hero-banner {
  $hb: &;
  @include clearfix;
  background-image: url(../img/bg/headline-bg.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  #{$hb} {
    &__img {
      width: 50%;
      float: right;
      @include medium {
        width: 100%;
        float: none;
      }
      &__el {
        display: block;
      }
    }
    &__txt {
      width: 50%;
      float: left;
      padding: 64px 0;
      @include medium {
        float: none;
        width: 100%;
        padding: 0;
      }
    }
    &__info {
      max-width: 365px;
      background-color: rgba(255, 255, 255, .1);
      padding: 4px 12px 0 4px;
      border-radius: 32px;
      margin-bottom: 24px;
      height: 40px;
      @include medium {
        margin-bottom: 16px;
        height: 38px;
      }
      @include small {
        padding-right: 8px;
        margin-bottom: 16px;
      }
      @include extra-small {
        padding-right: 0;
      }
      &__sale {
        text-transform: uppercase;
        display: inline-block;
        color: color(primary);
        padding: 2px 16px;
        max-width: 112px;
        font-weight: 500;
        border-radius: 32px;
        background-color: color(white);
        margin-right: 16px;
        @include font-size(h6);
        @include medium {
          max-width: initial;
        }
        @include extra-small {
          @include font-size(small);
          padding: 6px 8px;
          margin-right: 8px;
          margin-bottom: 0;
        }
      }
      &__desc {
        color: color(white);
        @include font-size(h6);
      }
    }
    &__title {
      @include font-size(h1);
      color: color(white);
      @include medium {
        @include font-size(h3);
      }
    }
    &__desc {
      max-width: 430px;
      margin-bottom: 32px;
      color: color(grey, 1);
      @include medium {
        max-width: initial;
      }
    }
    &__btn {
      &__txt {
        @include font-size(h5);
        color: color(white);
        vertical-align: middle;
        font-size: 0;
        margin-right: 24px;
        transition: all 0.3s ease;
        }
    }
  }
}