/* ==========================================================================
   Layout: Hero Banner
  ========================================================================== */

.hero-banner {
  $hb: &;
  position: relative;
  &__item {
    &::before {
      opacity: 0;
      transform: translateY(-32px);
      transition: all 1.75s ease;
      @include medium {
        transform: translateY(-32px);
      }
    }
  }

  &__img__el {
    opacity: 0;
    transform: scale(0.50);
    transition: all 4s ease 0s;
    @include medium {
      transform: scale(0.50);
    }
  }

  &__title {
    opacity: 0;
    transform: translateY(48px);
    transition: all 4s ease 0s;
    @include medium {
      transform: translateY(32px);
    }
  }

  &--single,
  .owl-item.active {
    #{$hb} {
      &__item {
        &::before {
          opacity: 1;
          transform: none;
          transition: all 1.75s ease;
        }
      }

      &__img__el {
        opacity: 1;
        transform: none;
        transition: opacity 3.5 ease, transform 2s ease;
        transition-delay: .2s;
      }
      
      &__title {
        opacity: 1;
        transform: none;
        transition: opacity 3.5 ease, transform 2s ease;
        transition-delay: .8s;
      }
    }
  }

  &.owl-carousel {
    #{$hb}__img__el,
    .owl-item img {
      width: 123%;
      @include small {
        width: 100%;
      }
    }
  }
}
