/* ==========================================================================
   Layouts Contagion
   ========================================================================== */

.contagion {
  $c: &;
  overflow: hidden;
  padding: 56px 0 32px;
  @include small {
    padding: 48px 0;
  }
  @include extra-small {
    padding: 32px 0;
  }
  &__head {
    max-width: 570px;
    margin: 0 auto;
    margin-bottom: 48px;
    @include medium {
      margin-bottom: 24px;
    }
    @include small {
      margin-bottom: 12px;
    }
  }
  &__body {
    @include clearfix;
    position: relative;
    &::before {
      background: url(../img/bg/covid-red-dark.svg);
      position: absolute;
      background-size: cover;
      left: -126px;
      bottom: 45px;
      z-index: zi(before-body-contagion);
      width: 254px;
      height: 260px;
    }
    @include small {
      margin-left: -24px;
      margin-right: -24px;
      padding: 16px 12px;
      white-space: nowrap;
      overflow-y: hidden;
      @include scroll('x', 'touch', 'hide');
    }
  }
  #{$c}__item {
    float: left;
    width: 33.3333333%;
    padding: 16px;
    @include medium {
      width: 50%;
    }
    @include small {
      display: inline-block;
      float: none;
      width: 340px;
      margin-right: 12px;
    }
    @include extra-small {
      width: 300px;
    }
  }
}