/* ==========================================================================
   Layouts Documentation
   ========================================================================== */

.documentation {
  @include clearfix;
  padding: 72px 0 96px;
  overflow: hidden;
  @include medium {
    padding: 56px 0;
  }
  @include small {
    padding: 48px 0;
  }
  @include extra-small {
    padding: 24px 0;
  }
  &__head {
    margin-bottom: 24px;
    @include small {
      margin-bottom: 12px;
    }
  }
  &__title {
    font-family: $font-title;
    @include font-size(h2);
    margin-bottom: 0;
    @include medium {
      @include font-size(h2-accent);
    }
    @include small {
      @include font-size(h3);
    }
  }
  &__body {
    margin-left: -12px;
    margin-right: -12px;
  }
  &__card {
    float: left;
    width: 33.3333333%;
    padding: 12px;
    @include medium {
      width: 50%;
    }
    @include small {
      width: 100%;
    }
  }
}
