/* ==========================================================================
   Layouts Footer
   ========================================================================== */

.footer {
  $f: &;
  padding: 24px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: color(white);
  @include small {
    position: relative;
  }
  &__top {
    @include clearfix;
    margin-bottom: 24px;
  }
  &__logo {
    float: left;
    height: 72px;
    width: 19%;
    @include remove-tap-highlight;
    @include small {
      height: 48px;
      width: 100%;
      margin-bottom: 48px;
    }
    &__el {
      display: block;
    }
  }
  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 24px 0;
    width: 63%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    @include medium {
      text-align: left;
      width: 100%;
      margin: 0 0 24px;
    }
    &__list {
      display: inline-block;
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
      @include small {
        display: block;
        margin-right: 0;
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__link {
      text-decoration: none;
      color: color(black, 1);
      transition: all 0.2s ease;
      @include remove-tap-highlight;
      &:hover {
        color: color(primary);
      }
    }
  }
  &__sosmed {
    display: inline-block;
    vertical-align: top;
    width: 17%;
    margin: 0;
    padding: 0;
    margin: 12px 0;
    list-style: none;
    text-align: right;
    @include medium {
      width: 100%;
      display: block;
      float: none;
      text-align: left;
      margin: 0;
    }
    &__list {
      display: inline-block;
      margin-right: 8px;
      @include large {
        margin-right: 6px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &__link {
      width: 40px;
      height: 40px;
      line-height: 44px;
      text-align: center;
      border-radius: 50%;
      display: inline-block;
      text-decoration: none;
      background-color: transparent;
      @include remove-tap-highlight;
      transition: all 0.35s ease;
      &:hover {
        transform: translateY(-4px);
        #{$f}__sosmed__link__icon {
          transition: all .3s ease;
          &.ca-facebook {
            color: color(social-media, facebook);
          }
          &.ca-youtube {
            color: color(social-media, youtube);
          }
          &.ca-vtube {
            color: color(social-media, vtube);
          }
          &.ca-twitter {
            color: color(social-media, twitter);
          }
        }
      }
      &__icon {
        @include font-size(h4);
      }
    }
  }
  &__bottom {
    text-align: center;
  }
  &__copyright__el {
    margin-bottom: 0;
  }
}