/* ==========================================================================
   Layouts Header
   ========================================================================== */

   .header {
    padding: 14px 0;
    background-color: color(white);
    z-index: zi(header);
    @include shadow(2);
    transition: all .35s ease;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: zi(header);
    @include medium {
      padding: 12px 0;
    }
    .scroll-down &,
    .header-on-scroll & {
      transition: all 0.5s ease;
    }
    .scroll-down & {
      box-shadow: none;
      transform: translateY(-100%);
    }
    &__content {
      @include clearfix;
    }
    &__logo {
      margin: 4px 0;
      float: left;
      width: 132px;
      @include remove-tap-highlight;
      @include medium {
        margin-top: 0;
        margin-bottom: 0;
      }
      &__el {
        display: block;
        height: 40px;
        transition: all .3s ease;
      }
    }
    .overlay {
      @include large {
        position: fixed;
        top: 76px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: color(overlay);
        z-index: zi(header-overlay);
        opacity: 0;
        visibility: hidden;
        // transition: all .5s ease;
        // transition-delay: 0.88s;
        transition: all .35s ease;
        transition-delay: .1s;
        .show-menu & {
          visibility: visible;
          opacity: 1;
          transition-delay: 0s;
        }
      }
      @include medium {
        top: 64px;
      }
    }
    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include medium {
        position: fixed;
        float: none;
        padding: 24px 12px 32px;
        top: 64px;
        left: 0;
        right: 0;
        width: 100%;
        bottom: 0;
        background-color: color(primary);
        z-index: zi(header);
        transform: translateX(100%);
        transform-origin: right center;
        // transition: all .55s ease;
        // transition-delay: .70s;
        transition: all .35s ease;
        transition-delay: .1s;
        overflow-y: auto;
        overflow-x: hidden;
        .show-menu & {
          transform: none;
          transition-delay: 0s;
        }
      }
    }
    &__item {
      display: inline-block;
      margin-right: 40px;
      @include large {
        margin-right: 24px;
      }
      @include medium {
        width: 100%;
        margin-bottom: 16px;
        margin-right: 0;
        transform: translateY(24px);
        opacity: 0;
        transition: all .3s ease 0s;
        @for $i from 1 through 5 {
          $d: 475;
          &:nth-child(#{$i}) {
            transition-delay: ($d - ($i * 65) + ms);
          }
        }
        .show-menu & {
          transform: none;
          opacity: 1;
          visibility: visible;
          @for $i from 1 through 5 {
            $d: 475;
            &:nth-child(#{$i}) {
              transition-delay: ($d + ($i * 65) + ms);
            }
          }
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &__link {
      color: color(black, 1);
      text-decoration: none;
      transition: all 0.2s ease;
      position: relative;
      @include remove-tap-highlight;
      &:hover {
        color: color(primary);
        @include medium {
          color: color(black, 1);
        }
      }
      @include medium {
        color: color(white);
        padding: 8px 16px;
        display: block;
      }
      &::after {
        position: absolute;
        content: '';
        top: 20px;
        width: 100%;
        left: 0;
        border-bottom: 1px solid color(primary);
        display: block;
        transition: all 0.2s ease;
        transform: scaleX(0);
        transform-origin: left center;
        @include medium {
          bottom: 0;
          display: none;
        }
      }
      &:hover {
        &::after {
          transform: none;
        }
      }
    }
  }
  @include burger-menu;
