/* ==========================================================================
   Layouts Problem
   ========================================================================== */

.problem {
  $p: &;
  padding: 68px 0;
  background-color: color(primary);
  overflow: hidden;
  @include small {
    padding: 32px 0 56px;
  }
  &__head {
    margin-bottom: 32px;
    @include small {
      margin-bottom: 24px;
    }
  }
  &__title {
    text-align: center;
    @include font-size(h3);
    color: color(white);
    font-weight: fw(regular);
    margin-bottom: 0;
    @include medium {
      @include font-size(h4);
    }
    @include small {
      @include font-size(h5);
    }
  }
  &__txt {
    color: color(white);
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0 68px;
    @include small {
      padding: 0;
    }
    &__el {
      margin-bottom: 0;
      @include font-size(h2-accent);
      font-weight: fw(bold);
      @include medium {
        @include font-size(h3);
      }
      @include small {
        @include font-size(h4);
      }
    }
  }

  #{$p}__txt {
    opacity: 0;
    transform: scale(0.68);
    transition: opacity .3ms ease, transform .3ms ease, background-color .3ms ease, color .3ms ease;
    transition-delay: 0ms;
  }

  &--standalone,
  .owl-item.active {
    #{$p} {
      &__txt {
        transform: scale(0);
        transform: none;
        opacity: 1;
        transition: all .88s ease;
        transition-delay: 760ms;
        @include small {
          opacity: 1;
        }
      }
    }
  }

  .owl-carousel {
    .owl-dot {
      margin-right: 8px;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background: color(black, 1);
      opacity: .1;
      transition: all .4s ease;
      display: none;
      @include small {
        display: inline-block;
        vertical-align: middle;
      }
      &:last-child {
        margin-right: 0;
      }
      &.active {
        width: 24px;
        background: color(white);
        opacity: 1;
      }
      &s {
        position: absolute;
        bottom: -32px;
        left: 50%;
        line-height: 1;
        transform: translateX(-50%);
      }
    }
    .owl-nav {
      .owl-prev,
      .owl-next {
        position: absolute;
        bottom: 0;
        z-index: zi(banner-owl-nav-prev-next);
        color: color(white);
        background-color: transparent;
        @include font-size(h5);
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: 2px solid color(white) !important;
        border-radius: 50%;
        transition: all 350ms ease;
        @include medium {
          width: 32px;
          height: 32px;
          @include font-size(h6);
          bottom: -4px;
        }
        @include small {
          display: none;
        }
        &:hover {
          background-color: color(white);
          i {
            color: color(primary);
          }
        }
      }
      .owl-prev {
        left: 0;
        transform: translateX(0);
      }
      .owl-next {
        right: 0;
      }
      i {
        vertical-align: middle;
        @include font-size(body);
        font-weight: fw(regular);
        color: color(white);
        @include extra-small {
          @include font-size(small);
        }
      }
    }
  }

}

