/* ==========================================================================
   Layouts Section Description
   ========================================================================== */


.section-description {
  padding: 68px 0;
  overflow: hidden;
  @include large {
    padding: 56px 0;
  }
  @include small {
    padding: 48px 0;
  }
  @include small {
    padding: 32px 0;
  }
  &__title {
    margin-bottom: 48px;
    @include font-size(h2);
    font-family: $font-title;
    color: color(black, 2);
    @include large {
      margin-bottom: 32px;
    }
    @include medium {
      margin-bottom: 24px;
      @include font-size(h2-accent);
    }
    @include small {
      @include font-size(h4);
    }
  }
  &__wrapper {
    @include clearfix;
  }
  &__txt {
    float: right;
    width: 50%;
    display: table;
    min-height: 400px;
    &__wrapper {
      display: table-cell;
      vertical-align: middle;
    }
    @include medium {
      width: 100%;
    }
  }
  &__label {
    color: color(primary);
    margin-bottom: 8px;
  }
  &__title {
    color: color(black, 1);
    margin-bottom: 16px;
  }
  &__desc {
    color: color(black, 1);
    @include font-size(h4);
    margin-bottom: 32px;
  }
  &__img {
    float: left;
    width: 40%;
    @include medium {
      width: 100%;
      margin-bottom: 32px;
    }
    @include small {
      margin-bottom: 24px;
    }
  }
}
