/* ==========================================================================
Layout: Footer
========================================================================== */

.footer {
  $f: &;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: color(white);
  @include small {
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid color(primary, 1);
    opacity: 0.2;
    @include small {
      border-width: 2px;
    }
  }
  &__copyright {
    padding: 24px 0;
    @include medium {
      padding: 16px 0;
    }
    &__txt {
      @include font-size(small);
      margin-bottom: 0;
    }
  }
}
