/* ==========================================================================
   Elements Button
  ========================================================================== */

.btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 200px;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid transparent;
  @include font-size(16);
  background-color: transparent;
  @include remove-tap-highlight;
  transition: all 350ms ease;
  font-weight: fw(bold);
  &--primary {
    background-color: transparent;
    color: color(purple, 2);
    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: color(white);
    }
  }
  i {
    display: inline-block;
    margin-left: 12px;
    animation: button 2s ease-in-out infinite;
  }
}

@-webkit-keyframes button {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-8px);
  }
  60% {
    -webkit-transform: translateY(-4px);
    } 
  }

@-moz-keyframes button {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); 
  }
  40% {
    -moz-transform: translateY(-4px); 
  }
}