/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  header-overlay: 2,
  footer: 9,
  market-before: 2,
  market-after: 9,
  link-after: -1,
);
