/* ==========================================================================
   Elements Burger Menu
  ========================================================================== */

.burger-menu {
  position: relative;
  border: 0;
  outline: 0;
  z-index: 9;
  width: 48px;
  height: 48px;
  font-size: 0;
  line-height: 1;
  padding: 15px 12px;
  text-align: right;
  cursor: pointer;
  background-color: transparent;
  @include remove-tap-highlight;
  &__bar {
    width: 24px;
    height: 2px;
    display: inline-block;
    margin-bottom: 6px;
    background-color: color(black-thin);
    border-radius: 1px;
    transition: all .35s ease .4s;
    transform-origin: center center;
    &:nth-child(2) {
      width: 20px;
    }
    &:nth-child(3) {
      width: 14px;
      margin-bottom: 0;
    }
  }
}
