/* ==========================================================================
   Elements Button
  ========================================================================== */

.btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 200px;
  padding: 12px 40px;
  border-radius: 32px;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border: 1px solid transparent;
  @include font-size(16);
  background-color: transparent;
  @include remove-tap-highlight;
  transition: all 350ms ease;
  font-weight: fw(bold);
  &--primary {
      color: color(white);
      background-image: linear-gradient(to right, color(blue, 2) 50%, color(blue, 1));
      background-size: 202% 2px;
      background-position: 60% center;
    &:hover {
      // border-color: color(blue, 1);
      // color: color(blue, 1);
      background-position: left center;
    }
  }
  &--secondary {
    background-color: transparent;
    color: color(blue, 1);
    border-color: color(blue, 1);
    &:hover {
      background-color: color(blue, 1);
      color: color(white);
    }
  }
  i {
    display: inline-block;
    margin-left: 12px;
    animation: button 2s ease-in-out infinite;
  }
  &--confirm {
    background-color: color(blue, 1);
    color: color(white);
    &:hover {
      color: color(blue, 1);
      border-color: color(blue, 1);
      background-color: transparent;
    }
  }
  &--subscribe {
    background-color: color(blue, 1);
    border-color: color(blue, 1);
    color: color(white);
    min-width: 140px;
    min-height: 60px;
    &:hover {
      color: color(blue, 1);
      background-color: transparent;
    }
  }
  &--block {
    width: 100%;
    background-color: color(blue, 1);
    border-color: color(blue, 1);
    color: color(white);
    min-width: 140px;
    &:hover {
      color: color(blue, 1);
      background-color: transparent;
    }
  }
}
