/* ==========================================================================
   Elements Icons
  ========================================================================== */

[class^="fl-"], [class*=" fl-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'figma-land' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* =========== Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.fl-envelope:before {
  content: "\e900";
}
.fl-facebook-square:before {
  content: "\e901";
}
.fl-feature-1:before {
  content: "\e902";
}
.fl-feature-2:before {
  content: "\e903";
}
.fl-feature-3:before {
  content: "\e904";
}
.fl-linked-in:before {
  content: "\e905";
}
.fl-location:before {
  content: "\e906";
}
.fl-location-white:before {
  content: "\e907";
}
.fl-phone:before {
  content: "\e908";
}
.fl-phone-white:before {
  content: "\e909";
}
.fl-play:before {
  content: "\e90a";
}
.fl-twitter:before {
  content: "\e90b";
}
.fl-facebook:before {
  content: "\e90c";
}
