/* ==========================================================================
   Elements Text Title
  ========================================================================== */

.text {
  &-title {
    @include font-size(36);
    font-weight: fw(bold);
    @include small {
      @include font-size(24);
    }
    &--white {
      color: color(white);
    }
  }
  &-desc {
    @include font-size(18);
    font-weight: fw(light);
    margin-bottom: 0;
    @include small {
      @include font-size(16);
    }
    &--white {
      color: color(white);
    }
    // &--left {
    //   max-width: 400px;
    //   margin-bottom: 40px;
    //   @include medium {
    //     max-width: initial;
    //     margin-bottom: 32px;
    //   }
    //   @include small {
    //     margin-bottom: 24px;
    //   }
    // }
  }
}
