/* ==========================================================================
   Variable: Colors
   ========================================================================== */

// colors
$colors: (
  blue: (
    1: #458ff6,
    2: #5a98f2,
    3: #67c3f3
  ),
  black: #000,
  black-thin: #444,
  grey: #7d7987,
  white: #fff,
  purple: #1f1534
);
