-
  data = [
      {
        title: 'Virtual healthcare for you',
        desc: 'Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone',
        img: 'hero-banner-bg.svg',
        btn: {
          to: 'apps.html',
          text: 'Consult today'
        }
      },
      {
        title: 'Download our mobile apps',
        desc: 'Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely',
        img: 'hero-banner-bg.svg',
        btn: {
          to: 'providers.html',
          text: 'Download'
        }
      },
      {
        title: 'Leading healthcare providers',
        desc: 'Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us, it’s not just work. We take pride in the solutions we deliver',
        img: 'hero-banner-bg.svg',
        btn: {
          to: 'providers.html',
          text: 'Learn more'
        }
      }
    ];

include ../../layouts/hero-banner.pug
