-
  data = [
      {
        title: 'We Are Here For Your <span>Artificial Intelligence</span> Startup.',
        img: 'hero-banner-bg.svg'
      },
      {
        title: 'We Are Here For Your <span>Artificial Intelligence</span> Startup.',
        img: 'hero-banner-bg.svg'
      }
    ];

include ../../layouts/hero-banner.pug
