-
  sectionDescription = {
    img: 'section-description.png',
    title: 'Building faster, Smarter, Together.',
    desc: 'ARIES is a part of PIXIRHY, a global venture capital firm providing multi stage investment to develop and scale our founders’ big ideas. SOSV invests in every HAX program startup with follow-on through pre-iPO.',
    button: {
      to: '#view-program',
      text: 'View Program'
    }
  }

include ../../components/section-description.pug