/* -------------------------------------------------------------------------- */
/* Variables: Colors                                                          */
/* -------------------------------------------------------------------------- */

$colors: (
  purple: (
    1: #9c69e2,
    2: #f5f0fc,
    3: #ceb4f1,
    4: #ebe1f9
  ),
  pink: (
    1: #f063b8,
    2: #fde8f4,
    3: #fdeff8
  ),
  green: (
    1: #68c9ba,
    2: #f0faf8
  ),
  blue: (
    1: #eaf5fb
  ),
  silver: #e9e9ee,
  grey: #4b5d68,
  black: #212353,
  white: #fff,
  overlay: rgba(#000, 0.7),
  social-media: (
    facebook: #1877f2,
    twitter: #1da1f2,
    instagram: #405de6,
    whatsapp: #25d366,
    youtube: #ff0000,
    spotify: #1db954,
  ),
);
