/* -------------------------------------------------------------------------- */
/* Variables: Z Index                                                         */
/* -------------------------------------------------------------------------- */

$z-index: (
  header: 9,
  header-burger-menu: 10,
  hero-banner-img: 1,
  hero-banner-txt: 2,
  floating-chat: 5,
  floating-chat-img: 1,
  floating-chat-chat: 2,
  footer-sosmed-icon: -1,
  footer-sosmed-link: 9,
);
