extends ../templates/default.pug

//- Head
block siteHeader
  -
    navActive = "home";
    siteTitle = 'Home';

//- Body
block siteContent
  //- Hero Banner
  include home/hero-banner.pug

  //- Features
  include home/features.pug

  //- Try For Free
  include home/try-for-free.pug

  //- Subscribe
  include home/subscribe.pug

  //- Partners
  include home/partners.pug

  //- Testimonials
  include home/testimonials.pug
