extends ../templates/default.pug

//- Head
block siteHeader
  -
    navActive = "home";
    siteTitle = 'Home';

//- Body
block siteContent
  //- Hero Banner
  include home/hero-banner.pug

  //- Features
  include home/features.pug

  //- Testimonials
  include home/testimonials.pug
