-
  data = {
    title: "Our Clients",
     desc: 'Kami telah bekerjasama dengan beberapa klien yang telah mempercayakan platform websitenya kepada kami.',
    img: [
      {
        src: 'master-sport.svg',
        alt: 'Master Sports'
      },
      {
        src: 'lazuardi.png',
        alt: 'Lazzuardi'
      },
      {
        src: 'busanabagus.svg',
        alt: 'Busana Bagus'
      },
      {
        src: 'zealphoto.svg',
        alt: 'Zeal Photo'
      },
      {
        src: 'fascosmetic.png',
        alt: 'Fas Cosmetics'
      },
      {
        src: 'sayapmas.png',
        alt: 'Sayap Mas'
      },
      {
        src: 'mandiri.png',
        alt: 'PT Mandiri Tata Energi'
      }
    ]
  }

include ../../layouts/client.pug
