//- ------------------------------------------------------------------------ -//
//- Expertise                                                                 -//
//- ------------------------------------------------------------------------ -//

-
  dataExpertise = {
    title: 'Our Specialist',
    desc: 'Kami menyediakan beberapa layanan yang bisa Anda pilih sesuai kebutuhan bisnis Anda.',
    list: [
      {
        title: 'Website Company Profile',
        img: 'ex-1.jpg',
      },
      {
        title: 'Website E-Commerce',
        img: 'ex-2.jpg',
      },
      {
        title: 'Website Application',
        img: 'ex-3.jpg',
      },
      {
        title: 'Website Mobile Application',
        img: 'ex-5.jpg',
      },
      {
        title: 'UI/UX Developer',
        img: 'ex-4.jpg',
      }
    ]
  }

include ../../layouts/expertise.pug
