-
  data = [
      {
        title: 'We can be successful.',
        desc: 'Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.',
        img: 'hero-banner-1.jpg',
        btn: {
          to: '#specialist',
          text: 'Hire Us'
        }
      },
      {
        title: 'We can be successful.',
        desc: 'Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.',
        img: 'hero-banner-2.jpg',
        btn: {
          to: '#specialist',
          text: 'Hire Us'
        }
      },
      {
        title: 'We can be successful.',
        desc: 'Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.',
        img: 'hero-banner-3.jpg',
        btn: {
          to: '#specialist',
          text: 'Hire Us'
        }
      }
  ];

include ../../layouts/hero-banner.pug
