-
  data = [
      {
        title: 'Be aware, Manage well.',
        desc: 'Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.',
        img: 'hero-banner-1.jpg',
        btn: {
          to: '#find-your-way',
          text: 'Find Your Way'
        }
      },
      {
        title: 'Growth Happiness with us',
        desc: 'Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.',
        img: 'hero-banner-2.jpg',
        btn: {
          to: '#find-your-way',
          text: 'Find Your Way'
        }
      },
      {
        title: "Let's Proceed",
        desc: 'Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.',
        img: 'hero-banner-3.jpg',
        btn: {
          to: '#find-your-way',
          text: 'Find Your Way'
        }
      }
  ];

include ../../layouts/hero-banner.pug
