include ../../layouts/our-product.pug

//- -
//-   ourProduct = {
//-     imgLarge: 'img-large.jpg',
//-     imgLargeAlt: 'Mikayla',
//-     small: [
//-       {
//-         title: 'Customized For',
//-         imgSmall: 'img-small.png',
//-         name: 'Mikayla',
//-         list: [
//-           {
//-             text: 'Understand Your Stress'
//-           },
//-           {
//-             text: 'Anger Management'
//-           },
//-         ]
//-       }
//-     ],
//-     text: [
//-       {
//-         label: 'Our Product',
//-         title: 'You tell us your stress, We make your diary',
//-         desc: 'Everyone experiences it, and in different ways.<br /> Let Alivio guide you, in a personalized journal experience, to overcome your stress.',
//-         button: {
//-           to: '#find-your-way',
//-           text: 'Find Your Way'
//-         }
//-       }
//-     ]
//-   }
//- include ../../layouts/our-product.pug