//- ------------------------------------------------------------------------ -//
//- Portofolio                                                                 -//
//- ------------------------------------------------------------------------ -//

-
  dataPortofolio = {
    title: "Portfolios",
    desc: 'Berikut adalah hasil proyek dari permintaan klien yang telah kami kerjakan.',
    list: [
      {
        title: 'Zeal Photo',
        img: 'zeal-photo.jpg',
        to: 'https://zealphoto.net'
      },
      {
        title: 'Grand Cilinik Lazzuardi',
        img: 'lazzuardi.jpg',
        to: 'http://www.grandlazzuardiclinic.com/'
      },
      {
        title: 'Master Sports',
        img: 'mastersports.jpg',
        to: 'http://mastersportsart.com/',
      },
      {
        title: 'Gudang Bagus',
        img: 'gudang-bagus.jpg',
        to: 'http://busanabagus.com/'
      },
      {
        title: 'Fas Cosmetics',
        img: 'fascosmetics.jpg',
        to: 'http://fasaseefa.com/'
      },
      {
        title: 'Sayap Mas',
        img: 'sayapmas.jpg',
        to: 'https://gudangmustika.com/trial/'
      },
    ]
  }

include ../../layouts/portofolio.pug
