-
  data = {
    title: 'We Create High Quallity Digital Solutions',
    desc: "Mengapa penting memiliki website? Keberadaan teknologi yang semakin pesat ini membuat banyak dari pelaku bisnis mulai beralih ke platform digital. Dengan adanya website, dapat membantu konsumen Anda lebih mudah dalam menemukan informasi tentang bisnis, meningkatkan jangkauan promosi dan pasar yang sangat luas, membangun brand image yang kuat, legalitas perusahaan, dan menaikkan citra perusahaan Anda.",
    img: 'sd.svg',
  };

include ../../components/section-description.pug
