/* ==========================================================================
   Components: Hero Banner
  ========================================================================== */

.hero-banner {
  $hb: &;
  overflow: hidden;
  &__item {
    width: 100%;
    padding: 24px 0 48px;
    min-height: 930px;
    position: relative;
    z-index: zi(banner-item);
    background-color: color(white);

    @include medium {
      padding: 40px 0 56px;
    }

    @include retina {
      padding-top: 32px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 40px;
      left: -40px;
      z-index: zi(banner-item-before);
      width: 130px;
      height: 115px;
      background-image: url(../img/bg/element1.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      @include large {
        width: 96px;
        height: 88px;
        top: 0;
      }
      @include medium {
        width: 88px;
        height: 80px;
        top: 32px;
        left: -32px;
      }
      @include small {
        width: 80px;
        height: 72px;
        top: 24px;
        left: -24px;
      }
      @include extra-small {
        width: 72px;
        height: 64px;
      }
    }
  }

  &__wrapper {
    @include clearfix;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: zi(hero-banner-bg);
    @include medium {
      float: none;
      width: auto;
      margin-bottom: 32px;
    }
    @include small {
      display: block;
      width: 100%;
    }
    &__el {
      display: block;
      width: 100%;
      height: auto;
      max-width: initial;
      @include medium {
        width: auto;
        max-width: 100%;
      }
      @include small {
        width: 100%;
      }
    }
  }

  &__txt {
    display: table;
    min-height: 700px;
    margin: 0 auto;
    max-width: 520px;
    text-align: center;
    @include medium {
      float: none;
      width: auto;
      min-height: initial;
    }
    &__align {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &__title {
    @include font-size(48);
    font-weight: fw(bold);
    margin-bottom: 24px;
    color: color(white);
    @include large {
      @include font-size(36);
    }
    @include medium {
      max-width: initial;
      margin-bottom: 16px;
    }
    @include small {
      @include font-size(24);
    }
  }

  &__desc {
    @include font-size(18);
    font-weight: fw(semi-bold);
    margin-bottom: 32px;
    color: color(white);
    @include large {
      margin-bottom: 24px;
    }
    @include small {
      @include font-size(16);
      margin-bottom: 16px;
    }
  }
}
