extends ../templates/default.pug

//- Head
block siteHeader
  -
    navActive = "home";
    siteTitle = 'Home';

//- Body
block siteContent
  //- Hero Banner
  include home/hero-banner.pug
  //- Home Service
  include home/service.pug
  //- Section Description
  include home/section-description.pug
  //- Testimonials
  include home/testimonials.pug
  //- Blog
  include home/blog.pug
