/* ==========================================================================
  Elements Button
  ========================================================================== */

.btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 200px;
  padding: 14px 24px;
  border-radius: 4px;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border: 1px solid transparent;
  @include font-size(h4);
  background-color: transparent;
  @include remove-tap-highlight;
  transition: all 350ms ease;
  &--primary {
    background-color: color(primary, 1);
    color: color(white);
    &:hover {
      background-color: transparent;
      color: color(primary, 1);
      border-color: color(primary, 1);
    }
  }
  &--secondary {
    background-color: color(secondary, 1);
    color: color(white);
    &:hover {
      background-color: transparent;
      color: color(secondary, 1);
      border-color: color(secondary, 1);
    }
  }
  &--demo {
    color: color(white);
    background-color: color(primary, 1);
    min-width: 187px;
    min-height: 48px;
    padding: 10px 48px;
    @include shadow(8);
    text-align: center;
    &:hover {
      background-color: transparent;
      color: color(primary, 1);
      border-color: color(primary, 1);
      @include medium {
        background-color: color(white);
        color: color(black, 1);
        border-color: color(primary, 1);
      }
    }
  }
  &--block {
    width: 100%;
  }
}
