/* ==========================================================================
   Components Documentation
   ========================================================================== */

.documentation {
  $d: &;
  #{$d}__img {
    position: relative;
    padding-bottom: 125%;
    &__el {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      display: block;
    }
    .js-popup-image {
      text-decoration: none;
      @include remove-tap-highlight;
    }
  }
}