/* ==========================================================================
   Components Help Form
   ========================================================================== */

.help {
  padding: 48px 0;
  &__wrapper {
    max-width: 420px;
    margin: 0 auto;
  }
  &__title {
    text-align: center;
    color: color(thirdiary);
    margin-bottom: 48px;
    @include font-size(h3);
    font-weight: fw(bold);
  }
  &__form {
    &__btn {
      position: relative;
    }
  }
}