/* ==========================================================================
  Components: Hero Banner
  ========================================================================== */

.hero-banner {
  $hb: &;
  &__item {
    width: 100%;
    padding: 72px 0 56px;
    overflow: hidden;
    position: relative;
    background-color: color(white);
    @include large {
      padding-bottom: 104px;
    }
    @include medium {
      padding: 64px 0 88px;
    }
    @include small {
      padding: 48px 0 72px;
    }
    @include extra-small {
      padding: 40px 0 64px;
    }
    @include retina {
      padding: 32px 0 56px;
    }
  }

  .container {
    position: relative;
  }

  &__img {
    position: absolute;
    right: -188px;
    bottom: -112px;
    top: -40px;
    z-index: zi(hero-banner-img);
    width: 885px;
    height: 612px;
    @include large {
      right: 0;
      bottom: -56px;
      width: 720px;
      height: 580px;
    }
    @include medium {
      position: relative;
      bottom: auto;
      right: auto;
      width: 100%;
      height: auto;
      top: 0;
      margin-bottom: 24px;
    }
    &__el {
      display: block;
      width: 100%;
      height: 100%;
    }
  }


  &__txt {
    position: relative;
    z-index: zi(hero-banner-txt);
    max-width: 645px;
    display: table;
    min-height: 612px;
    &__align {
      display: table-cell;
      vertical-align: middle;
    }
    @include large {
      max-width: 580px;
    }
    @include medium {
      max-width: initial;
      min-height: 0;
    }
  }
  &__headline {
    color: color(primary);
    font-weight: fw(bold);
    margin-bottom: 8px;
    @include font-size(h3);
    @include large {
      @include font-size(h3);
    }
    @include medium {
      margin-bottom: 16px;
      @include font-size(h5);
    }
    @include small {
      @include font-size(h6);
      margin-bottom: 8px;
    }
  }

  &__title {
    font-family: ff(family-title);
    @include font-size(h1);
    font-weight: fw(bold);
    color: color(black, 1);
    margin-bottom: 24px;
    max-width: 580px;
    @include large {
      @include font-size(h2);
      margin-bottom: 32px;
    }
    @include medium {
      margin-bottom: 24px;
    }
    @include small {
      @include font-size(h4);
      margin-bottom: 16px;
    }
  }

  &__desc {
    max-width: 372px;
    @include font-size(h6);
    color: color(black, 1);
    margin-bottom: 32px;
    text-align: justify;
    @include medium {
      max-width: initial;
      @include font-size(body);
      margin-bottom: 24px;
      max-width: 320px;
    }
    @include small {
      @include font-size(label);
    }
  }
}
  