/* ==========================================================================
  Components: Live Reports
  ========================================================================== */

.live-report {
  padding: 48px 0;
  &__wrapper {
    @include clearfix;
  }
  &__map {
    float: left;
    width: 60%;
    display: table;
    min-height: 486px;
    @include medium {
      width: 100%;
      min-height: 0;
      margin-bottom: 32px;
    }
    &__img {
      display: table-cell;
      vertical-align: middle;
      &__el {
        width: 998px;
        height: 570px;
        display: block;
      }
    }
  }
  &__box {
    float: right;
    width: 35%;
    background-color: color(white);
    padding: 24px;
    box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
    @include medium {
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 32px;
    color: color(thirdiary);
    @include font-size(h3);
    @include small {
      @include font-size(h6);
      margin-bottom: 16px;
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    margin-bottom: 40px;
    position: relative;
    @include small {
      margin-bottom: 24px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__img {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    width: 32px;
    &__el {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      display: block;
    }
  }
  &__txt {
    display: inline-block;
    vertical-align: middle;
    width: 55%;
    margin-left: 8px;
    font-weight: fw(bold);
    @include font-size(h5);
    color: color(thirdiary);
    @include medium {
      @include font-size(h6);
    }
    &__el {
      @include small {
        @include font-size(label);
      }
    }
  }
  &__number {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: fw(bold);
    color: color(thirdiary);
    padding-right: 26px;
    @include large {
      padding-right: 24px;
    }
    @include small {
      @include font-size(label);
      top: 50%;
      transform: translateY(-50%);
      padding-right: 18px;
    }
  }
  &__icon {
    padding-left: 12px;
    position: absolute;
    right: 0;
    transform: translateY(-10%);
    &__el {
      width: 10px;
      @include small {
        @include font-size(h6);
      }
    }
  }
}