/* ==========================================================================
   Components Todo
   ========================================================================== */

.todo {
  $t: &;
  @include clearfix;
  overflow: hidden;
  &__item {
    background-color: salmon;
  }
  &__img {
    float: right;
    width: 40%;
    @include medium {
      width: 100%;
    }
    &__el {
      height: 400px;
      display: block;
      @include medium {
        height: 100%;
        float: none;
        margin: 0 auto;
        height: 320px;
      }
    }
  }
  &__txt {
    float: left;
    width: 60%;
    display: table;
    min-height: 400px;
    max-width: 532px;
    @include medium {
      width: 100%;
      min-height: initial;
    }
    &__align {
      display: table-cell;
      vertical-align: middle;
    }
    &__number {
      background-color: color(tertiary);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: inline-block;
      vertical-align: top;
      padding: 12px;
      &__el {
        color: color(primary);
        @include font-size(h4);
        font-weight: fw(bold);
      }
    }
    &__detail {
      display: inline-block;
      vertical-align: top;
      width: 478px;
      padding-left: 24px;
      @include medium {
        padding-left: 0;
        display: block;
        width: 100%;
      }
    }
    &__title {
      margin-bottom: 16px;
      font-weight: fw(bold);
      @include font-size(h3);
    }
    &__desc {
      @include font-size(h6);
      margin-bottom: 0;
    }
  }
  // -- modifier
  &--reverse {
    #{$t}__img {
      float: left;
      @include small {
        float: none;
      }
      &__el {
        display: block;
        @include medium {
          margin: 0 auto;
          height: 320px;
        }
      }
    }
    #{$t}__txt {
      float: right;
      @include medium {
        width: 100%;
        display: block;
        float: none;
      }
    }
  }
}
