//- ------------------------------------------------------------------------ -//
//- Expertise                                                                 -//
//- ------------------------------------------------------------------------ -//

//expertise
.expertise(id="specialist")
  .container
    .expertise__head
      h2.text-title
        | !{dataExpertise.title}
      p.expertise__desc.text-desc
        | !{dataExpertise.desc}
    //expertise-list
    .expertise__list.js-expertise
      each val in dataExpertise.list
        -
          data = val
        include ../components/expertise-item.pug
    //end-expertise-list
='\n'
//end-expertise
