//-------------------------------------------------------------------------------
  @name: Footer
  -------------------------------------------------------------------------------//

-
  data = {
    copyright: '&copy; 2022 RZF Software&trade;. All Rights Reserved.<br /> Information and Technology Company',
    btn: {
      to: 'https://api.whatsapp.com/send?phone=6285864772042&text=Hi%20RZF%20Software',
    }
  }

.footer
  //footer-copyright
  .footer__copyright
    .container
      p.footer__copyright__txt
        | !{data.copyright}
  //end-footer-copyright

='\n'
//end-footer