//-------------------------------------------------------------------------------
  @name: Footer
  -------------------------------------------------------------------------------//

-
  dataFooter = {
    logoSrc: 'alivio-white.svg',
    logoAlt: 'Alivio Logo',
    logoTo: '#why-alivio',
    menu: [
      {
        to: '#why-alivio',
        text: 'Why Alivio'
      },
      {
        to: '#solutions',
        text: 'Solutions'
      },
      {
        to: '#community',
        text: 'Community'
      },
      {
        to: '#pricing',
        text: 'Pricing'
      },
    ]
  }

//footer
.footer
  .container
    .footer__wrapper
      ='\n'
      a.footer__logo(href=dataFooter.logoTo)
        ='\n'
        img.footer__logo__el(src='assets/img/logo/'+dataFooter.logoSrc alt=dataFooter.logoAlt)/
        ='\n'
      .footer__menu.js-footer-menu
        ul.footer__list
          each val in dataFooter.menu
            li.footer__item
              ='\n'
              a.footer__link(href=val.to)
                | !{val.text}
='\n'
//end-footer