//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//

-
  dataHeader = {
    logoSrc: 'alivio.svg',
    logoLink: 'index.html',
    logoAlt: 'Alivio Logo',
    menu: [
      {
        to: '#why-alivio',
        text: 'Why Alivio',
        classActive: 'why-alivio'
      },
      {
        to: '#solutions',
        text: 'Solutions',
        classActive: 'solutions'
      },
      {
        to: '#community',
        text: 'Community',
        classActive: 'community'
      },
      {
        to: '#pricing',
        text: 'Pricing',
        classActive: 'pricing'
      },
    ],
    trial: [
      {
        to: '#sign-in',
        text: 'Sign In',
        classActive: 'sign-in',
        classBtn: false
      },
      {
        to: '#start-trial',
        text: 'Start Trial',
        classBtn: true
      }
    ]
  }
//header
.header
  .container
    .header__content
      ='\n'
      a.header__logo(href=dataHeader.logoLink)
        ='\n'
        img.header__logo__el(src="assets/img/logo/"+dataHeader.logoSrc alt=dataHeader.logoAlt)/
        ='\n'
      ='\n'
      button.burger-menu.js-nav(type='button')
        ='\n'
        each val in [1, 2, 3]
          span.burger-menu__bar
          ='\n'
      ='\n'
      .header__scroll-mobile
        ul.header__nav
          each val in dataHeader.menu
            li.header__nav__item(class=(navActive == val.classActive ? 'header__nav__item--active' : ''))
              ='\n'
              a.header__nav__link(href=val.to)
                | !{val.text}
              ='\n'
        .header__demo
          li.header__nav__item
            ='\n'
            a.header__nav__link(href='#sign-in') Sign in
            ='\n'
          li.header__nav__item
            ='\n'
            a.btn.btn--inset.demo(href='#start-trial') Start Trial
            ='\n'
='\n'
//end-header