//-------------------------------------------------------------------------------
  @name: Hero Banner
  -------------------------------------------------------------------------------//

//hero-banner


='\n'
//end-hero-banner