//-------------------------------------------------------------------------------
  @name: Number
  -------------------------------------------------------------------------------//

-
  dataNumber = {
    list: [
      {
        iconClass: 'chart',
        title: '$30B',
        desc: 'Digital Currency Exchanged'
      },
      {
        iconClass: 'user',
        title: '10M+',
        desc: 'Trusted Wallets Investor'
      },
      {
        iconClass: 'earth',
        title: '195',
        desc: 'Countries Supported'
      },
    ]
  }

//number
.number
  .container
    ul.number__list
      each val in dataNumber.list
        li.number__list__item
          .number__list__item__img
            ='\n'
            i(class='crappo-'+val.iconClass)
          ='\n'
          .number__list__item__txt
            h3.number__list__item__txt__title
              | !{val.title}
            p.number__list__item__txt__desc
              | !{val.desc}
='\n'
//end-number