//-------------------------------------------------------------------------------
  @name: Our Product
  -------------------------------------------------------------------------------//

//our-product
.our-product#pricing
  .container
    .our-product__wrapper
      .our-product__img
        .our-product__img__large
          ='\n'
          img.our-product__img__large__el(src='assets/img/dummy/img-large.jpg' alt='Mikayla')/
          ='\n'
        .our-product__img__small
          h5.our-product__img__small__title Customized For
          ='\n'
          img.our-product__img__small__el(src='assets/img/dummy/img-small.png' alt='Mikayla')/
          ='\n'
          p.our-product__img__small__name Mikayla
          h6.our-product__img__small__headline Your Custom Contents
          ul.our-product__img__small__list
            li.our-product__img__small__item Understand Your Stress
            li.our-product__img__small__item Anger Management
      .our-product__txt
        .our-product__txt__align
          h4.our-product__txt__label Our product
          h2.our-product__txt__title You tell us your stress, We make your diary
          p.our-product__txt__desc Everyone experiences it, and in different ways. <br />Let Alivio guide you, in a personalized journal experience, to overcome your stress.
          .our-product__txt__btn
            ='\n'
            a.btn.btn--inset(href='#find-your-way') Find Your Way
            ='\n'
='\n'
//end-our-product