//-------------------------------------------------------------------------------
  @name: Our Product
  -------------------------------------------------------------------------------//

//our-product
.our-product
  .container
    .our-product__wrapper
      .our-product__img
        .our-product__img__large
          ='\n'
          img.our-product__img__large__el(src='assets/img/dummy/img-large.jpg' alt='Mikayla')/
          ='\n'
        .our-product__img__small
          h5.our-product__title
            ='\n'
            img.our-product__img__small__el(src='assets/img/dummy/img-small.png' alt='Mikayla')/
            ='\n'
          h5.our-product__title Your Custom Contents
          ul.our-product__small__list
            li.our-product__small__item Understand Your Stress
            li.our-product__small__item Anger Management
      .our-product__txt
        h4.our-product__label Our product
        h2.our-product__title You tell us your stress, We make your diary
        p.our-product__desc Everyone experiences it, and in different ways. <br />Let Alivio guide you, in a personalized journal experience, to overcome your stress.
        .our-product__btn
          ='\n'
          a.btn.btn--primary(href='#find-your-way') Find Your Way
          ='\n'
='\n'
//end-our-product