//- ------------------------------------------------------------------------ -//
//- Portofolio                                                                 -//
//- ------------------------------------------------------------------------ -//

//portofolio
.portofolio(id="portofolio")
  .container
    .portofolio__head
      h2.text-title
        | !{dataPortofolio.title}
      p.portofolio__desc.text-desc
        | !{dataPortofolio.desc}
    //portofolio-list
    .portofolio__list
      each val in dataPortofolio.list
        -
          data = val
        include ../components/portofolio-item.pug
    //end-portofolio-list
    
='\n'
//end-portofolio
