//- ------------------------------------------------------------------------ -//
  @name: Success Story
  ------------------------------------------------------------------------ -//
//success-story
.success-story
  .container
    .success-story__wrapper
      .success-story__img.js-play-video
        ='\n'
        img.success-story__img__el(src='assets/img/dummy/thumbnail.jpg' alt="Let's hear about Kayla's success story")
        ='\n'
        img.success-story__img__icon(src='assets/img/icon/play.png')
        ='\n'
      .success-story__txt
        .success-story__txt__align
          h3.success-story__txt__title Let's hear about Kayla's success story
          p.success-story__txt__desc See how well Alivio works in a real customer’s life.
          .success-story__txt__btn
            ='\n'
            a.btn.btn--primary(href='#Let’s- get-started') Let’s get started
            ='\n'


='\n'
//end-success-story
