-
  data = [
      {
        title: 'The best products start with Figma',
        desc: 'Most calendars are designed for teams. Slate is designed for freelancers',
        img: 'hero-banner.jpg',
        btn: {
          to: '#tryForFree',
          text: 'Try For Free'
        }
      },
    ];

include ../../layouts/hero-banner.pug
