-
  benefits = {
    title: 'Fasilitas yang Anda dapatkan?',
    img: 'facillity-img.png',
    list: [
      {
        text: 'Pengelolaan stok obat jadi terkontrol',
      },
      {
        text: 'Kelola penjualan dan pembelian jadi lebih efisien',
      },
      {
        text: 'Proses pelayanan transaksi jual beli menjadi lebih cepat',
      },
      {
        text: 'Kelola penjualan dan pembelian jadi lebih efisien',
      },
      {
        text: 'Lebih mudah mengetahui data laporan expired obat',
      },
    ]
  }
include ../../layouts/benefits.pug