-
  contagion = {
    label: 'Covid-19',
    title: 'Contagion',
    desc: 'Corona viruses are a type of virus. There are many different kinds, and some cause disease. A newly identified type',
    list: [
      {
        img: 'contagion-1.svg',
        title: 'Air Transmission',
        desc: 'Washing your hands is one of thesimplest ways you can protect'
      },
      {
        img: 'contagion-2.svg',
        title: 'Human Contacts',
        desc: 'Objectively evolve tactical expertise before extensible initiatives. Efficiently simplify'
      },
      {
        img: 'contagion-3.svg',
        title: 'Containted Objects',
        desc: 'Use the tissue while sneezing,In this way, you can protect your droplets.'
      },
    ]
  }
include ../../layouts/contagion.pug