-
  documentation = {
    title: 'Dokumentasi Instalasi Aplikasi',
    list: [
      {
        img: 'documentation-1.jpg',
      },
      {
        img: 'documentation-2.jpg',
      },
      {
        img: 'documentation-3.jpg',
      },
      {
        img: 'documentation-4.jpg',
      },
      {
        img: 'documentation-5.jpg',
      },
      {
        img: 'documentation-6.jpg',
      },
    ]
  }
include ../../layouts/documentation.pug