-
  excellence = {
    title: 'Keunggulan Aplikasi RZF Medis',
    list: [
      {
        number: '01',
        title: 'Tersedia Fitur Multisatuan',
        desc: 'Dengan fitur multisatuan akan memudahkan Anda untuk mengelola barang yang memiliki satuan bertingkat, seperti pcs, lusin atau box.'
      },
      {
        number: '02',
        title: 'Aplikasi Bergaransi & Support Lifetime',
        desc: 'Garansi aplikasi 1 tahun serta support lifetime selama aplikasi digunakan, dan tambahan layanan GRATIS maintenance untuk 2 bulan pertama.'
      },
      {
        number: '03',
        title: 'Jenjang Level Hak Akses',
        desc: 'Kemampuan untuk membatasi fungsi setiap pengguna aplikasi, sehingga aman dari manipulasi dan kecurangan.'
      },
      {
        number: '04',
        title: 'Multi User',
        desc: 'Aplikasi dapat digunakan oleh ratusan bahkan ribuan user secara bersamaan dengan syarat komputer server yang digunakan juga mampu menangani transaksi sebanyak yang dibutuhkan.'
      },
      {
        number: '05',
        title: 'Layanan Request Custome',
        desc: 'Kebutuhan fitur lainnya kami dukung dengan adanya layanan Request Custome, Anda bisa melakukan penambahan fitur yang sesuai dengan kebutuhan usaha Anda.'
      },
      {
        number: '06',
        title: 'Dilengkapi Fitur Grafik Penjualan dan Laba Rugi',
        desc: 'Memungkinkan Anda mengetahui perbandingan penjualan dari periode sebelumnya, serta trend penjualan dari waktu ke waktu.'
      },
    ]
  }
include ../../layouts/excellence.pug