-
  help = {
    title: 'Have Question in mind? Let us help you',
    helpForm: [
      {
        type: 'text',
        placeholder: 'snmonydemo@gmail.com',
        class: 'fi-single-line',
        id: 'email',
        name: 'email',
        required: 'Email harus diisi!'
      }
    ]
  }
include ../../components/help-form.pug