-
  help = {
    title: 'Have Question in mind? Let us help you',
    helpForm: [
      {
        type: 'text',
        placeholder: 'snmonydemo@gmail.com',
        class: 'fi-single-line',
        id: 'name',
        name: 'name',
        required: 'Masukkan Email'
      }
    ]
  }
include ../../components/help-form.pug