-
  help = {
    title: 'Have Question in mind? Let us help you',
    helpForm: [
      {
        type: 'text',
        target: 'alertEmail',
        placeholder: 'snmonydemo@gmail.com',
        class: 'fi-single-line',
        id: 'email',
        name: 'email',
        invalid: 'Email invalid!',
        required: 'Email is required!'
      }
    ]
  }
include ../../components/help-form.pug