//-------------------------------------------------------------------------------
  @name: Hero Banner
  -------------------------------------------------------------------------------//

-
  data = [
      {
        headline: 'Covid-19 Alert',
        title: 'Stay at Home quarantine To stop Corona virus',
        desc: 'There is no specific medicine to prevent or treat coronavirus disease (COVID-19). People may need supportive care to.',
        img: 'hero-banner-1.svg',
        btn: {
          to: '#letsUsHelp',
          text: 'Lets Us Help'
        }
      },
      {
        headline: 'Covid-19 Alert',
        title: 'Stay Alert!. Covid-19 is dangerous',
        desc: 'There is no specific medicine to prevent or treat coronavirus disease (COVID-19). People may need supportive care to.',
        img: 'symptomps.svg',
        btn: {
          to: '#letsUsHelp',
          text: 'Lets Us Help'
        }
      }
    ];

include ../../layouts/hero-banner.pug
