-
  dataBannerProduct = {
    title: 'Aplikasi Apotek Terlengkap Dengan Fitur Praktis Dan Mudah Digunakan',
    desc: 'Kelola apotek Anda dengan lebih praktis dan serta otomatis dengan Aplikasi RZF Medis',
    button: [
      {
        to: '#pesan-sekarang',
        text: 'Pesan Sekarang',
        show: true,
        btnClass: 'primary'
      },
      {
        to: '#konsultasi-gratis',
        text: 'Konsultasi Gratis',
        show: true,
        btnClass: 'secondary'
      }
    ],
    img: [
      {
        img: 'aplikasi-apotek-retail.png',
        alt: 'Aplikasi Apotek Retail'
      },
      {
        img: 'aplikasi-apotek-grosir.png',
        alt: 'Aplikasi Apotek Grosir'
      },
      {
        img: 'aplikasi-klinik.png',
        alt: 'Aplikasi Klinik'
      },
      {
        img: 'aplikasi-puskesmas.png',
        alt: 'Aplikasi Puskesmas'
      }
    ]
  }

include ../../layouts/hero-banner.pug
