-
  liveReports = {
    title: 'Live Reports',
    nation: [
      {
        img: 'usa.svg',
        text: 'USA',
        number: '100,392'
      },
      {
        img: 'italy.svg',
        text: 'Italy',
        number: '86,498'
      },
      {
        img: 'china.svg',
        text: 'China',
        number: '81,340'
      },
      {
        img: 'spain.svg',
        text: 'Spain',
        number: '64,059'
      },
      {
        img: 'germany.svg',
        text: 'Germany',
        number: '50,871'
      },
      {
        img: 'iran.svg',
        text: 'Iran',
        number: '32,332'
      }
    ]
  }
include ../../components/live-reports.pug