-
  liveReports = {
    title: 'Live Reports',
    mapImg: 'map.svg',
    mapAlt: 'World Map',
    nation: [
      {
        img: 'usa.svg',
        text: 'USA',
        number: '100,392',
        arrowImg: 'arrow-down.svg',
        arrowName: 'Arrow Top'
      },
      {
        img: 'italy.svg',
        text: 'Italy',
        number: '86,498',
        arrowImg: 'arrow-down.svg',
        arrowName: 'Arrow Top'
      },
      {
        img: 'china.svg',
        text: 'China',
        number: '81,340',
        arrowImg: 'arrow-top.svg',
        arrowName: 'Arrow Top'
      },
      {
        img: 'spain.svg',
        text: 'Spain',
        number: '64,059',
        arrowImg: 'arrow-down.svg',
        arrowName: 'Arrow Down'
      },
      {
        img: 'germany.svg',
        text: 'Germany',
        number: '50,871',
        arrowImg: 'arrow-down.svg',
        arrowName: 'Arrow Down'
      },
      {
        img: 'iran.svg',
        text: 'Iran',
        number: '32,332',
        arrowImg: 'arrow-down.svg',
        arrowName: 'Arrow Down'
      }
    ]
  }
include ../../components/live-reports.pug