-
  presenting = {
    title: 'Tampilan Aplikasi',
    list: [
      {
        img: 'tampilan-aplikasi-1.jpg',
        text: 'Tampilan Stok Opname'
      },
      {
        img: 'tampilan-aplikasi-2.jpg',
        text: 'Tampilan Stok Opname'
      },
      {
        img: 'tampilan-aplikasi-3.jpg',
        text: 'Tampilan Stok Opname'
      },
    ]
  }

include ../../layouts/presenting.pug