-
  problem = {
    title: 'Apa ini masalah bisnismu?',
    list: [
      {
        question: 'Stok Obat tidak terkontrol dengan baik?'
      },
      {
        question: 'Laporan piutang tidak terpantau'
      },
      {
        question: 'Susah memantau arus kas masuk dan keluar'
      },
    ]
  }
include ../../layouts/problem.pug
