-
  sale = {
    headline: 'Promo Eksklusif',
    title: 'Diskon 20% Off',
    desc: 'Untuk Aplikasi Apotek Grosir',
    list: [
      {
        number: '30',
        text: 'Hari'
      },
      {
        number: '16',
        text: 'Jam'
      },
      {
        number: '30',
        text: 'Menit'
      },
      {
        number: '39',
        text: 'Detik'
      },
    ]
  }
include ../../layouts/sale.pug