-
  solution = {
    title: 'RZF Medis Solusinya',
    img: 'solution-img.png',
    list: [
      {
        text: 'Pengelolaan stok obat jadi terkontrol',
      },
      {
        text: 'Kelola penjualan dan pembelian jadi lebih efisien',
      },
      {
        text: 'Proses pelayanan transaksi jual beli menjadi lebih cepat',
      },
      {
        text: 'Kelola penjualan dan pembelian jadi lebih efisien',
      },
      {
        text: 'Lebih mudah mengetahui data laporan expired obat',
      },
    ]
  }
include ../../layouts/solution.pug