-
  testimonials = {
    title: 'Mereka Yang Telah Menggunakan',
    list: [
      {
        img: 'testimonial-1.png',
        caption: 'Kemampuan untuk membatasi fungsi setiap pengguna aplikasi, sehingga aman dari manipulasi dan kecurangan.Kemampuan untuk membatasi fungsi setiap pengguna aplikasi, sehingga aman dari manipulasi dan kecurangan.',
        name: 'Angeline Jolie'
      },
      {
        img: 'testimonial-1.png',
        caption: 'Kemampuan untuk membatasi fungsi setiap pengguna aplikasi, sehingga aman dari manipulasi dan kecurangan.',
        name: 'Angeline Jolie'
      },
      {
        img: 'testimonial-1.png',
        caption: 'Kemampuan untuk membatasi fungsi setiap pengguna aplikasi, sehingga aman dari manipulasi dan kecurangan.',
        name: 'Angeline Jolie'
      },
      {
        img: 'testimonial-1.png',
        caption: 'Kemampuan untuk membatasi fungsi setiap pengguna aplikasi, sehingga aman dari manipulasi dan kecurangan.',
        name: 'Angeline Jolie'
      },
      {
        img: 'testimonial-1.png',
        caption: 'Kemampuan untuk membatasi fungsi setiap pengguna aplikasi, sehingga aman dari manipulasi dan kecurangan.',
        name: 'Angeline Jolie'
      },
      {
        img: 'testimonial-1.png',
        caption: 'Kemampuan untuk membatasi fungsi setiap pengguna aplikasi, sehingga aman dari manipulasi dan kecurangan.',
        name: 'Angeline Jolie'
      },
    ]
  }
include ../../layouts/testimonials.pug
