-
  dataTodo = {
    label: 'Covid-19 Alert',
    title: 'What Should we Do',
    desc: 'Corona viruses are a type of virus. There are many different kinds, and some cause disease. A newly identified type has caused',
    list: [
      {
        number: '01',
        title: 'Wear Masks',
        img: 'todo-1.svg',
        desc: 'Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic "outside the box" thinking. Objectively '
      },
      {
        number: '02',
        modifier: 'reverse',
        title: 'Wash your Hands',
        img: 'todo-2.svg',
        desc: 'Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic "outside the box" thinking. Objectively '
      },
      {
        number: '03',
        title: 'Use Nose - Rag',
        img: 'todo-3.svg',
        desc: 'Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic "outside the box" thinking. Objectively'
      },
      {
        number: '04',
        title: 'Avoid Contacts',
        modifier: 'reverse',
        img: 'todo-4.svg',
        desc: 'Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic'
      }
    ]
  }
each val in dataTodo.list
  - data = val;
  include ../../layouts/todo.pug