//-------------------------------------------------------------------------------
  @name: Calculator
  -------------------------------------------------------------------------------//

//calculator




='\n'
//end-calculator