//-------------------------------------------------------------------------------
  @name: client
  -------------------------------------------------------------------------------//

//client-item
.client__item
  .client__img
    ='\n'
    img.client__img__el(src="assets/img/logo/"+data.src alt=data.alt)/
    ='\n'
