//-------------------------------------------------------------------------------
  @name: Floating chat
  -------------------------------------------------------------------------------//
  
.floating-chat
  ='\n'
  a.floating-chat__link(href=data.btn.to target='_blank')
    ='\n'
    img.floating-chat__img(src="assets/img/icon/whatsapp.png" alt="WhatsApp Icon")/
    ='\n'
='\n'
//end-floating-chat