//-------------------------------------------------------------------------------
  @name: Presenting
  -------------------------------------------------------------------------------//

//presenting
.presenting
  .container
    .presenting__wrapper
      .presenting__left
        h5.presenting__left__label
          | !{presenting.label}
        h3.presenting__left__title
          | !{presenting.title}
      .presenting__right
        p.presenting__right__desc
          | !{presenting.desc}
='\n'
//end-presenting