//-------------------------------------------------------------------------------
  @name: Section Description
  -------------------------------------------------------------------------------//

//section-description
.section-description(id="about")
  .container
    .section-description__box
      .section-description__img
        ='\n'
        img.section-description__img__el(src='assets/img/dummy/'+data.img alt=data.title)/
        ='\n'
      .section-description__txt
        h3.section-description__title
          | !{data.title}
        p.section-description__desc
          | !{data.desc}
='\n'
//end-section-description
