-
  data = {
      img: 'section-description-1.png',
      title: 'Leading healthcare providers',
      desc: 'Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us, it’s not just work. We take pride in the solutions we deliver',
      btn: {
        to: 'providers.html',
        text: 'Learn more'
      }
    }
