/* ==========================================================================
   Layouts Contact Us
   ========================================================================== */

.contact-us {
  padding: 48px 0;
  overflow: hidden;
  &__head {
    max-width: 552px;
    margin: 0 auto 48px;
    text-align: center;
    @include medium {
      margin-bottom: 24px;
    }
  }
  &__body {
    @include clearfix;
  }
  &__form {
    padding: 32px;
    @include shadow(16);
    border-radius: 20px;
    float: left;
    width: 40%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    @include medium {
      width: 100%;
      margin-bottom: 48px;
      padding: 32px 16px;
    }
    &__ttl {
      text-align: center;
      margin-bottom: 24px;
    }
  }
  &__detail {
    border-radius: 8px;
    float: right;
    padding: 32px 0 32px 48px;
    width: 60%;
    @include medium {
      width: 100%;
      padding: 0;
    }
    &__wrapper {
      @include clearfix;
      margin-bottom: 48px;
      @include medium {
        margin-bottom: 24px;
      }
    }
  }
  &__box {
    float: left;
    width: 33.3333333%;
    text-align: center;
    @include small {
      width: 100%;
      text-align: left;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__img {
      margin-bottom: 6px;
      &__el {
        color: color(blue, 1);
        margin: 0 auto;
        width: 24px;
        height: 24px;
        display: block;
        @include font-size(24);
        text-align: center;
        @include small {
          margin: 0;
        }
      }
    }
    &__txt {
      &__el {
        margin-bottom: 0;
        color: color(grey, 5);
      }
    }
  }
  &__map-embed {
    text-align: center;
    margin-bottom: 24px;
    margin: 0 auto 24px;
    max-width: 520px;
    iframe {
      margin: 0 auto;
      display: block;
      height: 380px;
      width: 100%;
      @include medium {
        width: 100%;
      }
    }
  }
  &__sosmed {
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &__item {
      display: inline-block;
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__link {
      text-decoration: none;
      @include remove-tap-highlight;
    }
    &__icon {
      @include font-size(24);
      display: inline-block;
      transition: all .3s ease;
      &:hover {
        transform: scale(1.2);
        &.fl-twitter {
          color: color(social-media, twitter);
        }
        &.fl-facebook {
          color: color(social-media, facebook);
        }
        &.fl-linked-in {
          color: color(social-media, linked-in);
        }
      }
    }
  }
}