/* ==========================================================================
   Layouts Footer
   ========================================================================== */

.footer {
  $f: &;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 96px 0 104px;
  overflow: hidden;
  background-color: color(blue, 4);
  @include clearfix;
  @include large {
    padding: 72px 0 80px;
  }
  @include medium {
    padding: 64px 0 72px
  }
  @include small {
    padding: 48px 0 56px;
    position: relative;
  }

  &__menu {
    float: left;
    @include clearfix;
    @include medium {
      float: none;
      width: 100%;
      padding-bottom: 40px;
    }
    @include small {
      padding-bottom: 24px;
    }

    &__item {
      float: left;
      margin-right: 144px;
      &:last-child {
        margin-right: 0;
      }
      @include large {
        margin-right: 104px;
      }
      @include medium {
        margin-right: 120px;
      }
      @include small {
        float: none;
        width: 100%;
        margin-right: 0;
        padding-bottom: 8px;
        &:last-child {
          padding-bottom: 0;
        }
      }

      &--showed {
        @include small {
          #{$f} {
            &__title {
              &::after {
                transform: rotateX(180deg);
              }
            }
            &__nav__item {
              opacity: 1;
              transform: none;
              transition: all .35s ease .3s;
            }
          }
        }
      }
    }
  }

  &__title {
    position: relative;
    @include font-size(20);
    font-weight: fw(bold);
    margin-bottom: 24px;
    color: color(white);
    @include small {
      margin-bottom: 16px;
    }
    &::after {
      @include small {
        content: "\e90d";
        font-family: 'figma-land';
        position: absolute;
        top: 0;
        right: 0;
        transition: all .35s ease;
        transition-delay: .4s;
      }
    }
  }

  &__nav {
    padding: 0;
    margin: 0;
    list-style: none;
    @include small {
      display: none;
    }

    &__item {
      @include font-size(18);
      margin-bottom: 12px;
      color: color(white);
      &:last-child {
        margin-bottom: 0;
      }
      @include medium {
        @include font-size(16);
      }
      @include small {
        opacity: 0;
        margin-bottom: 16px;
        transform: translateX(24px);
        transition: all .4s ease 0s;
        &:last-child {
          margin-bottom: 16px;
        }
      }
    }

    &__link {
      position: relative;
      display: inline-block;
      padding-bottom: 4px;
      text-decoration: none;
      @include remove-tap-highlight;
      font-weight: fw(regular);
      @include small {
        padding-bottom: 0;
        @include font-size(14);
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        transform-origin: right center;
        background-color: color(white);
        transform: scaleX(0);
        transition: transform .35s ease;
      }
      &:hover {
        &::after {
          transform: scaleX(1);
          transform-origin: left center;
        }
      }
    }
  }
  &__contact {
    float: right;
    max-width: 35%;
    @include medium {
      float: none;
      max-width: 100%;
    }
    &__item {
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__icon {
      display: inline-block;
      vertical-align: top;
      width: 32px;
      &-el {
        @include font-size(36);
        color: color(white);
        @include small {
          @include font-size(24);
        }
      }
    }
    &__txt {
      width: 82%;
      display: inline-block;
      vertical-align: top;
      padding-left: 12px;
      @include medium {
        padding-left: 0;
      }
      &-el {
        color: color(white);
        margin-bottom: 0;
        padding: 14px 0 0 6px;
        @include small {
          padding: 6px 0;
        }
      }
    }
  }
  &__sosmed {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 24px;
    &__item {
      margin-bottom: 24px;
    }
    &__icon {
      display: inline-block;
      margin-right: 24px;
      text-align: center;
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.1);
        &.fl-twitter {
          color: color(social-media, twitter);
        }
        &.fl-facebook {
          color: color(social-media, facebook);
        }
        &.fl-linked-in {
          color: color(social-media, linked-in);
        }
      }
    }
    &__link {
      color: color(white);
      @include font-size(36);
      text-decoration: none;
      @include remove-tap-highlight;
      @include medium {
        @include font-size(24);
      }
    }
  }
}
