/* ==========================================================================
   Layouts Pricing
========================================================================== */

.pricing {
  $p: &;
  padding: 48px 0;
  background-color: color(blue, 4);
  &__head {
    max-width: 552px;
    margin: 0 auto;
    margin-bottom: 48px;
    @include medium {
      margin-bottom: 24px;
    }
  }
  &__title,
  &__desc {
    color: color(white);
  }
  &__list {
    @include clearfix;
    @include small {
      white-space: nowrap;
      margin-left: -24px;
      margin-right: -24px;
      padding-left: 24px;
      padding-top: 32px;
      padding-bottom: 32px;
      @include scroll('x', 'touch', 'hide');
    }
  }
  #{$p}__card {
    display: inline-block;
    padding: 24px;
    @include small {
      padding: 0 24px 0 0;
    }
  }
}