.testimonials {
  $t: &;
  position: relative;
  overflow: hidden;
  padding: 120px 0;
  @include large {
    padding: 96px 0;
  }
  @include medium {
    padding: 72px 0;
  }
  @include small {
    padding: 48px 0;
  }
  
}
