/* ==========================================================================
  Components Testimonials
  ========================================================================== */

.testimonials {
  $t: &;
  position: relative;
  overflow: hidden;
  padding: 48px 0;
  @include large {
    padding: 96px 0;
  }
  @include medium {
    padding: 72px 0;
  }
  @include small {
    padding: 48px 0;
  }
  &__head {
    margin-bottom: 48px;
    text-align: center;
    @include small {
      margin-bottom: 24px;
    }
  }
  &__title {
    margin-bottom: 0;
    @include font-size(36);
    @include medium {
      @include font-size(24);
    }
  }
  &__body {
    @include clearfix;
    margin-bottom: 48px;
  }
  #{$t}__item {
    float: left;
    max-width: initial;
    margin: 0 220px;
    display: block;
    text-align: center;
    @include medium {
      width: 100%;
      margin: 0;
    }
  }
  &__btn {
    text-align: center;
    margin-top: 64px;
    @include medium {
      margin-top: 32px;
    }
  }

  &--standalone,
  .owl-item.active {
    display: inline-block;
    #{$t} {
      &__client__img {
        opacity: 1;
        transform: none;
        transition: opacity .10 ease, transform .10s ease;
        transition-delay: .4s;
      }
      &__caption__el {
        opacity: 1;
        transform: none;
        transition: opacity .10 ease, transform .10s ease;
        transition-delay: .6s;
      }
      &__img__el {
        opacity: 1;
        transform: none;
        transition: opacity .10 ease, transform .10s ease;
        transition-delay: .8s;
      }
      &__txt__name {
        opacity: 1;
        transform: none;
        transition: opacity .10 ease, transform .10s ease;
        transition-delay: 1s;
      }
      &__txt__position {
        opacity: 1;
        transform: none;
        transition: opacity .10 ease, transform .10s ease;
        transition-delay: 1s;
      }
    }
  }

  .owl-carousel {
    .owl-dot {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      transition: all 500ms ease;
      background-color: color(black);
      opacity: .1;
      @include extra-small {
        width: 6px;
        height: 6px;
      }
      &:last-child {
        margin-right: 0;
      }
      &.active {
        width: 32px;
        background-color: color(primary);
        opacity: 1;
      }
      &s {
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
      }
    }
  }
}
