/* ==========================================================================
   Variable: Colors
   ========================================================================== */

// colors
$colors: (
  primary: (
    1: #01996d,
    2: #5f9e5f,
  ),
  secondary: (
    1: #ffc655,
    2: #fde8f4,
    3: #fdeff8,
  ),
  tertiary: (
    1: #245852,
  ),
  black: (
    1: #000,
    2: #484848,
    3: #4f4f4f,
  ),
  success: (
    1: #08ab53,
    2: #e3f9e9
  ),
  grey: #ddd,
  white: #fff,
  overlay: rgba(#000, 0.6),
  opacity: rgba(#9c69e2, 0.2),
  social-media: (
    facebook: #1877f2,
    twitter: #1da1f2,
    instagram: #405de6,
    whatsapp: #25d366,
    youtube: #ff0000,
    spotify: #1db954,
  ),
);
