/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  market-before: 2,
  market-after: 9,
);
