/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  header-burger-menu: 2,
  banner-img-el: 1,
  banner-txt: 2,
  footer-sosmed-icon: 1,
  footer-sosmed-link: 2,
  floating-chat-img: 1,
  floating-chat-chat: 2,
);
