//-------------------------------------------------------------------------------
  @name: Features
  -------------------------------------------------------------------------------//

//features
.features
  .container
    .features__head
      h3.features__title
        | !{features.title}
      p.features__desc
        | !{features.desc}
    .features__body
      each val in features.list
        - data = val;
        include ../components/features-item.pug
    .features__video
      .features__thumbnail
        ='\n'
        img.features__thumbnail__el(src='assets/img/dummy/feature-bg.png' alt='Feature Bg')/
        ='\n'
        button.features__button.js-show-popup(data-video='https://www.youtube.com/watch?v=xRqFgN3uCKU&ab_channel=AdiHidayatOfficial' type='button')
          ='\n'
          i.features__button__icon.fl-play
          ='\n'
='\n'
//end-features
