//-------------------------------------------------------------------------------
  @name: Partners
  -------------------------------------------------------------------------------//

//partners
.partners
  .container
    .partners__head
      h3.text-title
        | !{partners.title}
      p.text-desc
        | !{partners.desc}
    .partners__body
      each val in partners.list
        - data = val;
        include ../components/partners-item.pug
    .partners__btn
      ='\n'
      a.btn.btn--primary(href=partners.button.to)
       | !{partners.button.text}
      ='\n'
='\n'
//partners