//-------------------------------------------------------------------------------
  @name: Pricing
  -------------------------------------------------------------------------------//

//pricing
.pricing
  .container
    .pricing__head
      h3.pricing__title.text-title
        | !{pricing.title}
      p.pricing__desc.text-desc
        | !{pricing.desc}
    .pricing__list.js-pricing-card
      each val in pricing.item
        - data = val;
        include ../components/pricing-item.pug
='\n'
//end-pricing
