//-------------------------------------------------------------------------------
  @name: Testimonials
  -------------------------------------------------------------------------------//

//testimonials
.testimonials#testimonials
  .container
    .testimonials__box
      .testimonials__head
        h3.testimonials__title
          | !{testimonials.title}
      .testimonials__body.js-testimonials
        each val in testimonials.list
          - data = val;
          include ../components/testimonials-item.pug
      .testimonials__btn
        ='\n'
        a.btn.btn--primary(href=testimonials.button.to)
          | !{testimonials.button.text}
        ='\n'
='\n'
//end-testimonials
