//-------------------------------------------------------------------------------
  @name: Hero Banner
  -------------------------------------------------------------------------------//

//hero-banner
.hero-banner#about.js-hero-banner
  each val in data
    - data = val;
    include ../components/hero-banner.pug
='\n'
//end-hero-banner
