//-------------------------------------------------------------------------------
  @name: Testimony
  -------------------------------------------------------------------------------//

//testimony
.testimony
  .container
    .testimony__wrapper
      h2.testimony__title
        | !{dataTestimony.title}
      //testimony-list
      .testimony__list.js-testimony-list
        each val in dataTestimony.list
          -
            data = val
          include ../components/testimony.pug
