/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
   header: 9,
   footer: 1,
   banner-item: 1,
   banner-item-before: 2,
);
